.main {
  background: rgb(250, 250, 250);
  background: linear-gradient(90deg, rgba(250, 250, 250, 1) 5%, rgba(250, 250, 250, 1) 35%, rgba(250, 250, 250, 1) 100%);
  /* background-image: linear-gradient(to top, #faeafa, #fe7afa) !important; */
  width: 100%;
  height: 120vh;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 2rem;
}

ion-content {
  background: rgb(250, 250, 250);
  background: linear-gradient(90deg, rgba(250, 250, 250, 1) 5%, rgba(250, 250, 250, 1) 35%, rgba(250, 250, 250, 1) 100%);
}

ion-grid {
  background-color: #fafafa;
}

ion-row {
  background-color: #fafafa;
}

ion-input {
  background: #fff;
}

ion-item {
  background-color: #fff;
}

ion-select {
  background-color: #fff;
}

.transparent {
  background-color: transparent;
}

.container-logo {
  text-align: center;
}

.btn-enviar {
  width: 200px;
  height: 84px;
  padding: 20px 19px 15px 21px;
  border-radius: 26px;
}

.puntero {
  cursor: pointer;
}

.back {
  font-family: Rubik;
  font-size: 17px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(29, 29, 27, 0.8);
}

.login-text {
  font-family: Rubik;
  font-size: 42px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(29, 29, 27, 0.8);
}

.margin-logo {
  margin-top: 2rem;
  // margin-bottom: .5rem;
}


ion-item:focus {
  // font-size: 0.9em;
  box-shadow: 0 0 2em 0.1em #191d1d1b;
  background-color: #fff;
  border: 1px solid #d0122d;
}

.forgot-password {
  font-family: Rubik;
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #0277c4;
}

.login {
  justify-content: center;
  text-align: end;
  margin-top: 2rem;
}

.btn-login {
  background-image: linear-gradient(to bottom, #0ab1e0 0%, #0277c4) !important;

}

.btn-gradient-blue {
  border-radius: 26px;
  background-image: linear-gradient(to bottom, #0ab1e0 0%, #0277c4) !important;

  border-color: #ff8b00;
  border-width: 0px;
}

.btn-text {
  color: white;
  font-size: 1rem;
  text-align: center;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  padding: 3rem;
}

.text-cuenta {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: rgba(29, 29, 27, 0.8);
}

.registrar {
  font-family: Rubik;
  font-size: 17px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #ff8b00;
}

.img-slider-footer {
  margin-top: 2rem;
  width: 30%;
}
