<ion-content>
  <div class="main">
    <!-- <ion-content fullscreen="false"> -->
    <ion-grid class="mb-4">
      <ion-row class="margin-cuenta">
        <ion-col size="12" (click)="iniciarSesion()">
          <div class="ion-text-start back ion-margin-bottom">
            <p class="puntero">
              < Cancelar</p>
          </div>
        </ion-col>
        <!-- titulo -->
        <ion-col size="12" class="ion-margin-top">
          <div class="text-title">
            <span class="text-title">Crear una cuenta</span>
          </div>
        </ion-col>
      </ion-row>
      <!-- pasos -->
      <!-- step 1 ambos-->
      <ion-row *ngIf="oneScreen === true">
        <ion-col size="12" class="step-text">
          <span class="step-text">Paso 1</span>
        </ion-col>
        <ion-col size="12" class="margin-pharag">
          <span class="pharag-detail">Para crear una cuenta es necesario indicar si es usted médico o personal de
            laboratorio de análisis clínicos.
          </span>
        </ion-col>
        <form [formGroup]="oneStep">
          <ion-row>
            <ion-col size="12">
              <ion-radio-group class="radio-group" formControlName="roleId">
                <ion-row>
                  <ion-col class="text-start" size="12">
                    <ion-label class="label-form" for="name" position="stacked">Especialidad</ion-label>
                  </ion-col>
                  <ion-col class="text-start" size="12">
                    <ion-item>
                      <ion-label for="med">Médico</ion-label>
                      &nbsp;
                      <ion-radio id="med" color="tertiary" [value]="1"></ion-radio>
                    </ion-item>
                  </ion-col>
                  <ion-col class="text-start" size="12">
                    <ion-item>
                      <ion-label for="lab">Laboratorista</ion-label>
                      &nbsp;
                      <ion-radio id="lab" color="tertiary" [value]="4"></ion-radio>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
            </ion-col>
            <ion-col size="12" class="margin-btn ion-margin-top">
              <div class="text-end">
                <button class="btn btn-tertiary btn-lg btn-gradient-blue" color="primary" [disabled]="!oneStep.valid"
                  (click)="step2()" shape="round">
                  <span class="btn-text"> Continuar </span>
                </button>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="mb-4">
            <ion-col size="12">
              <div class="ion-text-center">
                <img class="img-slider-footer" src="./assets/amdlcc.png"
                  alt="Asociacion Mexicana de Lucha contra el cancer" />
              </div>
            </ion-col>
          </ion-row>
          <br><br><br><br>
        </form>
      </ion-row>
      <!-- step 2 ambos-->
      <ion-row *ngIf="twoScreen === true">
        <ion-col size="12" class="step-text">
          <span class="step-text">Paso 2</span>
        </ion-col>
        <ion-col size="12" class="margin-pharag">
          <span class="pharag-detail">Complete sus datos personales
          </span>
        </ion-col>
        <form [formGroup]="twoStep">
          <ion-row class="transparent">
            <ion-col class="text-start" size="12">
              <ion-label class="label-form" for="name" position="stacked">Nombre</ion-label>
            </ion-col>
            <ion-col size="12" class="mb-3 transparent">
              <ion-item class="closed">
                <ion-input id="name" type="text" formControlName="name" placeholder="">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="text-start" size="12">
              <ion-label class="label-form" for="firstName" position="stacked">Apellido</ion-label>
            </ion-col>
            <ion-col size="12" class="mb-3 transparent">
              <ion-item class="closed">
                <ion-input id="firstName" type="text" formControlName="firstName" placeholder="">
                </ion-input>
              </ion-item>
            </ion-col>

            <ion-col class="text-start" size="12">
              <ion-label class="label-form" for="datetime" datetime="datetime" position="stacked">Fecha de
                Nacimiento</ion-label>
            </ion-col>
            <ion-col size="12" class="mb-3 transparent">
              <ion-item class="closed transparent">
                <ion-datetime-button color="white" datetime="datetime"></ion-datetime-button>
              </ion-item>

              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime locale="es-ES" presentation="date" displayFormat="DD-MM-AAAA" color="primary"
                    formControlName="birthday" id="datetime"></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-col>
            <ion-col size="12">
              <ion-radio-group class="radio-group" formControlName="sex">
                <ion-row>
                  <ion-col class="text-start" size="12">
                    <ion-label class="label-form" for="name" position="stacked">Sexo</ion-label>
                  </ion-col>
                  <ion-col class="text-start" size="12">
                    <ion-item>
                      <ion-label>Hombre</ion-label>
                      &nbsp;
                      <ion-radio color="tertiary" [value]="1"></ion-radio>
                    </ion-item>
                  </ion-col>
                  <ion-col class="text-start" size="12">
                    <ion-item>
                      <ion-label>Mujer</ion-label>
                      &nbsp;
                      <ion-radio color="tertiary" [value]="2"></ion-radio>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="text-start" size="12">
                    <ion-item>
                      <ion-label>Otro</ion-label>
                      &nbsp;
                      <ion-radio color="tertiary" [value]="3"></ion-radio>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
            </ion-col>
            <ion-col size="6" class="margin-btn ion-margin-top">
              <div class="text-start">
                <span class="regresar" (click)="step1()">
                  < Regresar </span>
              </div>
            </ion-col>
            <ion-col size="6" class="margin-btn ion-margin-top">
              <div class="text-end">
                <button class="btn btn-tertiary btn-lg btn-gradient-blue" color="primary" [disabled]="!twoStep.valid"
                  (click)="step3('adelante')" shape="round">
                  <span class="btn-text"> Continuar </span>
                </button>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="mb-4">
            <ion-col size="12">
              <div class="ion-text-center">
                <img class="img-slider-footer" src="./assets/amdlcc.png"
                  alt="Asociacion Mexicana de Lucha contra el cancer" />
              </div>
            </ion-col>
          </ion-row>
        </form>
      </ion-row>
      <!-- step 3 ambos -->
      <ion-row *ngIf="threeScreen === true">
        <ion-col size="12" class="step-text">
          <span class="step-text">Paso 3</span>
        </ion-col>
        <ion-col size="12" class="margin-pharag">
          <span class="pharag-detail">Completa tus datos médicos</span>
        </ion-col>
        <form [formGroup]="threeStep">
          <ion-row>
            <ion-col class="text-start" size="12">
              <ion-label class="label-form" for="professionalLicense" position="stacked">Cédula profesional</ion-label>
            </ion-col>
            <ion-col size="12" class="mb-3">
              <ion-item class="closed">
                <ion-input id="professionalLicense" type="text" formControlName="professionalLicense" placeholder="">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" class="mb-3">
              <ion-row class="align-center">
                <ion-col class="text-center" size="2">
                  <ion-checkbox formControlName="professionalLicenseProcedure" color="tertiary"></ion-checkbox>
                </ion-col>
                <ion-col class="text-center" size="10">
                  <ion-label> Cédula profesional en trámite</ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col class="text-start" size="12">
              <ion-label class="label-form" for="specialityId" position="stacked">Especialidad</ion-label>
            </ion-col>
            <ion-col size="12" class="mb-3">
              <ion-list>
                <ion-item>
                  <ion-select mode="ios" id="specialityId" color="tertiary" formControlName="specialityId"
                    interface="action-sheet" placeholder="Selecciona un especialidad">
                    <ion-select-option *ngFor="let item of especialidades" [value]="item.id">{{ item.speciality
                      }}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </ion-col>
            <!-- texto de otro -->
            <ion-col class="text-start" size="12" *ngIf="threeStep.value.specialityId === 20">
              <ion-label class="label-form" for="other" position="stacked">Otro</ion-label>
            </ion-col>

            <ion-col size="12" class="mb-3" *ngIf="threeStep.value.specialityId === 20">
              <ion-item class="closed">
                <ion-input id="other" type="text" formControlName="other" placeholder="">
                </ion-input>
              </ion-item>
            </ion-col>


            <ion-col size="6" class="margin-btn ion-margin-top">
              <div class="text-start">
                <span class="regresar" (click)="step2()">
                  < Regresar </span>
              </div>
            </ion-col>
            <ion-col size="6" class="margin-btn ion-margin-top">
              <div class="text-end">
                <button class="btn btn-tertiary btn-lg btn-gradient-blue" color="primary" [disabled]="!threeStep.valid"
                  (click)="m4mypatientStep()" shape="round">
                  <span class="btn-text"> Continuar </span>
                </button>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="mb-4">
            <ion-col size="12">
              <div class="ion-text-center">
                <img class="img-slider-footer" src="./assets/amdlcc.png"
                  alt="Asociacion Mexicana de Lucha contra el cancer" />
              </div>
            </ion-col>
          </ion-row>
          <br><br><br>
        </form>
      </ion-row>
      <!-- pantalla de invitacion para formar parte de 4mypatient -->
      <!-- m4mypatientStep  -->
      <ion-row *ngIf="medico4mypatient === true">
        <ion-col size="12" class="step-text">
          <span class="step-text">Únete a 4myPatient</span>
        </ion-col>
        <ion-col size="12" class="margin-pharag">
          <span class="pharag-detail">
            Ha sido creada para apoyar a médicos de primer contacto buscando la referencia temprana de pacientes y
            apoyándolos en despejar dudas puntuales.
            <br><br>
            Esto no sería posible sin el apoyo de médicos como usted y a través de la Red Médica de apoyo conformada por
            médicos especialistas.
            <br><br>
            Le invitamos a formar parte de este gran esfuerzo. ¿Cómo?
            Sumándose a la Red Médica y recibiendo algunas consultas por parte de los usuarios en los tiempos que uste
            decida donar para esta causa.
          </span>
        </ion-col>
        <form [formGroup]="medico4mypatientStep">
          <ion-row>
            <ion-col size="12" class="mb-3">
              <ion-row class="align-center">
                <ion-col class="text-center" size="2">
                  <ion-checkbox value="false" formControlName="availableForCall" color="tertiary"></ion-checkbox>
                </ion-col>
                <ion-col class="text-center" size="10">
                  <ion-label>Me Sumo a la Red Médica
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col size="6" class="margin-btn ion-margin-top">
              <div class="text-start">
                <span class="regresar" (click)="step3('atrasHemato')">
                  < Regresar </span>
              </div>
            </ion-col>
            <ion-col size="6" class="margin-btn ion-margin-top">
              <div class="text-end">
                <button class="btn btn-tertiary btn-lg btn-gradient-blue" color="primary" (click)="stepHorario()"
                  shape="round">
                  <span class="btn-text"> Continuar </span>
                </button>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="mb-4">
            <ion-col size="12">
              <div class="ion-text-center">
                <img class="img-slider-footer" src="./assets/amdlcc.png"
                  alt="Asociacion Mexicana de Lucha contra el cancer" />
              </div>
            </ion-col>
          </ion-row>
          <br><br><br><br>
        </form>
      </ion-row>
      <!-- son horarios de disponibilidad -->
      <div *ngIf="horario4mypatient === true">
        <ion-grid>
          <ion-row>
            <ion-col size="12" class="step-text">
              <span class="step-text">Disponibilidad</span>
            </ion-col>
            <ion-col size="12" class="margin-pharag">
              <span class="pharag-detail">Seleccione su disponibilidad para que la comunidad médica
                pueda consultarle</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="my-3">
              <span class="parag-step">Agrege su disponibilidad</span>
            </ion-col>
            <!-- formulario -->
            <ion-col size="12" class="my-3 text-end">
              <span (click)="addDay()" class="add-beneficit">Agregar
                <ion-icon color="primary" name="add-circle"></ion-icon>
              </span>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let item of dayCalendar; index as index">
            <ion-col size="12" *ngIf="index !== 0 || item.id === 0">
              <ion-icon name="close-circle" (click)="deleteDay(item, index)"></ion-icon>
            </ion-col>
            <ion-col size="12" class="my-3">
              <ion-label class="label-form" for="name" position="stacked">Día</ion-label>
              <ion-item>
                <ion-select mode="ios" [(ngModel)]="item.dayId" placeholder="Elige un día" interface="action-sheet">
                  <ion-select-option *ngFor="let item of catDay" [value]="item.id">{{ item.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>

            <ion-col size="12" class="my-2">
              <ion-row>
                <ion-col size="6">
                  <ion-label class="label-form" for="name" position="stacked">Hora inicial</ion-label>
                  <ion-datetime-button class="mt-2" style="    width: 100%; display: contents;"
                    datetime="{{item.attrHI}}"></ion-datetime-button>
                </ion-col>
                <ion-col size="6">
                  <ion-label class="label-form" for="name" position="stacked">Hora final</ion-label>
                  <ion-datetime-button class="mt-2" style="width: 100%; display: contents;"
                    datetime="{{item.attrHF}}"></ion-datetime-button>
                </ion-col>
              </ion-row>

              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime ngDefaultControl [(ngModel)]="item.timeInit" class="ion-padding" presentation="time"
                    id="{{item.attrHI}}"></ion-datetime>
                </ng-template>
              </ion-modal>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime class="ion-padding" presentation="time" id="{{item.attrHF}}" ngDefaultControl
                    [(ngModel)]="item.timeEnd"></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-col>
            <br><br>
          </ion-row>


          <ion-row>
            <ion-col size="6" class="margin-btn ion-margin-top"></ion-col>
            <ion-col size="6" class="margin-btn ion-margin-top"></ion-col>
            <!-- <ion-col size="6" class="margin-btn ion-margin-top">
              <div class="text-end">
                <button class="btn btn-tertiary btn-lg btn-gradient-orange" color="secondary" (click)="saveCalendar()"
                  shape="round">
                  <span class="btn-text"> Guardar </span>
                </button>
              </div>
            </ion-col> -->

            <ion-col size="6" class="margin-btn ion-margin-top">
              <div class="text-start">
                <span class="regresar" (click)="m4mypatientStep()">
                  < Regresar </span>
              </div>
            </ion-col>
            <ion-col size="6" class="margin-btn ion-margin-top">
              <div class="text-end">
                <button class="btn btn-tertiary btn-lg btn-gradient-blue" color="primary" (click)="step4()"
                  shape="round">
                  <span class="btn-text"> Continuar > </span>
                </button>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="mb-4">
            <ion-col size="12">
              <div class="ion-text-center">
                <img class="img-slider-footer" src="./assets/amdlcc.png"
                  alt="Asociacion Mexicana de Lucha contra el cancer" />
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <!-- step 4 ambos -->
      <ion-row class="backg" *ngIf="fourScreen === true">
        <ion-col size="12" class="step-text">
          <span class="step-text">Paso 4</span>
        </ion-col>
        <ion-col size="12" class="margin-pharag">
          <span class="pharag-detail">Selecciona los datos relacionados con tu procedencia
            profesional</span>
        </ion-col>
        <form [formGroup]="fourStep">
          <ion-row>
            <ion-col class="text-start" size="12">
              <ion-label class="label-form" for="consultingType" position="stacked">Consultorio</ion-label>
            </ion-col>
            <ion-col size="12" class="mb-3">
              <ion-list>
                <ion-item>
                  <ion-select mode="ios" style=" flex: 1 1 0%;
                  min-width: 90% !important;
                  white-space: break-spaces !important;
                  overflow: hidden ;
                  text-overflow: ellipsis !important;" id="consultingType" color="tertiary"
                    formControlName="consultingType" interface="action-sheet" placeholder="Selecciona un consultorio">
                    <ion-select-option *ngFor="let item of consultorio" [value]="item.id">{{ item.consultorio
                      }}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </ion-col>
            <ion-col class="text-start" size="12">
              <ion-label class="label-form" for="phoneConsulting" position="stacked">Teléfono del
                consultorio</ion-label>
            </ion-col>
            <ion-col size="12" class="mb-3">
              <ion-item class="closed">
                <ion-input id="phoneConsulting" type="text" formControlName="phoneConsulting" placeholder="">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="text-start" size="12">
              <ion-label class="label-form" for="state" position="stacked">Estado</ion-label>
            </ion-col>
            <ion-col size="12" class="mb-3">
              <ion-list>
                <ion-item>
                  <ion-select mode="ios" id="state" color="tertiary" formControlName="state" interface="action-sheet"
                    placeholder="Selecciona un estado">
                    <ion-select-option *ngFor="let item of catState" [value]="item.id">{{ item.name
                      }}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </ion-col>
            <ion-col class="text-start" size="12">
              <ion-label class="label-form" for="address" position="stacked">Dirección</ion-label>
            </ion-col>
            <ion-col size="12" class="mb-1">
              <ion-item class="closed">
                <ion-textarea id="address" rows="4" cols="10" type="text" formControlName="address" placeholder="">
                </ion-textarea>
              </ion-item>
            </ion-col>
            <ion-col size="6" class="margin-btn ion-margin-top">
              <div class="text-start">
                <span class="regresar" (click)="step3('regresar')">
                  < Regresar </span>
              </div>
            </ion-col>
            <ion-col size="6" class="margin-btn ion-margin-top">
              <div class="text-end">
                <button class="btn btn-tertiary btn-lg btn-gradient-blue" color="primary" [disabled]="!fourStep.valid"
                  (click)="step5()" shape="round">
                  <span class="btn-text"> Continuar </span>
                </button>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="mb-4">
            <ion-col size="12">
              <div class="ion-text-center">
                <img class="img-slider-footer" src="./assets/amdlcc.png"
                  alt="Asociacion Mexicana de Lucha contra el cancer" />
              </div>
            </ion-col>
          </ion-row>
          <br><br><br><br>
        </form>
      </ion-row>
      <!-- step 5 ambos-->
      <ion-row *ngIf="five === true">
        <ion-col size="12" class="step-text">
          <span class="step-text">Paso 5</span>
        </ion-col>
        <ion-col size="12" class="margin-pharag">
          <span class="pharag-detail">Escribe el correo electrónico de tu cuenta para que recibas una
            liga con una contraseña temporal.</span>
        </ion-col>
        <form [formGroup]="fiveStep">
          <ion-row>
            <ion-col class="text-start" size="12">
              <ion-label class="label-form" for="email" position="stacked">Correo electrónico</ion-label>
            </ion-col>

            <ion-col size="12" class="mb-3">
              <ion-item class="closed">
                <ion-input id="email" type="email" formControlName="email" placeholder="">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="text-start" size="12">
              <ion-label class="label-form" for="password" position="stacked">Contraseña</ion-label>
            </ion-col>
            <ion-col size="12" class="mb-3">
              <ion-item class="closed">
                <ion-input id="password" type="password" formControlName="password" placeholder="">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" class="mb-3">
              <ion-row class="align-center">
                <ion-col class="text-center" size="2">
                  <ion-checkbox value="false" formControlName="term" color="tertiary"></ion-checkbox>
                </ion-col>
                <ion-col class="text-center" size="10">
                  <ion-label>Al activar tu perfil, permites que esta app haga uso de los
                    datos recopilados con fines estadísticos.</ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="6" class="margin-btn ion-margin-top">
              <div class="text-start">
                <span class="regresar" (click)="step4()">
                  < Regresar </span>
              </div>
            </ion-col>
            <ion-col size="6" class="margin-btn ion-margin-top">
              <div class="text-end">
                <button class="btn btn-tertiary btn-lg btn-gradient-blue" color="primary"
                  [disabled]="!fiveStep.valid && disabled === true" (click)="save()" shape="round">
                  <span class="btn-text"> Continuar </span>
                </button>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="mb-4">
            <ion-col size="12">
              <div class="ion-text-center">
                <img class="img-slider-footer" src="./assets/amdlcc.png"
                  alt="Asociacion Mexicana de Lucha contra el cancer" />
              </div>
            </ion-col>
            <br><br><br><br>
          </ion-row>
        </form>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
