.content-footer {
  text-align: center;
  justify-content: center;
  padding: 2rem;
  background-color: #fafafa;

}

ion-content {
  background-color: #fff;
}
ion-grid {
  background-color: #fff;
}

ion-row {
  background-color: #fff;
}

ion-input {
  background: #fff;
}

ion-item {
  background-color: #fff;
}

ion-select {
  background-color: #fff;
}
.transparent {
  background-color: transparent;
}

.title-main {
  color: white;
  text-align: left;
  font-size: 1.7rem;
  font-weight: 100;
}

.logo-size {
  width: 40%;
  height: auto;
}

.logo-size-cancer {
  margin-right: 2.25rem;
}

// cards
.text-disponible {
  font-size: .8rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #FF8B00;
}

.radius {
  border-radius: 1rem;

}

.padd-left {
  padding-left: 9px;
}

.title-specialty {
  font-size: 1.2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
}

.btn-gradient-orange {
  border-radius: 26px;
  background-image: linear-gradient(to bottom, #ff5a14, #ff8b00);
  border-color: #ff8b00;
  border-width: 0px;
}

.btn-gradient-blue {
  border-radius: 26px;
  background-image: linear-gradient(to bottom, #0ab1e0 0%, #0277c4) !important;

  border-color: #ff8b00;
  border-width: 0px;
}

.btn-text {
  color: white;
  font-size: 1rem;
  text-align: center;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  padding: 1rem;
}

.alineados {
  align-items: center;
}

.second-text {
  font-family: Rubik;
  font-size: 1.3rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(29, 29, 27, 0.8);
}

.info-text {
  font-family: Rubik;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0277c4;
}

.info-text-b {
  font-family: Rubik;
  font-size: 1rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0277c4;
}

.name-person {
  font-size: 1.2rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(29, 29, 27, 0.8);
}

.diagnostic {
  font-size: .9rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
}



.logo-footer {
  width: 70%;
}

.icon.social {
  width: 15%;
}

.text-footer {
  font-family: Rubik;
  font-size: 1rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0277c4;
}

.email-footer {
  font-family: Rubik;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0277c4;
  align-self: center;
}

.text-end-footer {
  font-family: Rubik;
  font-size: 11px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: rgba(29, 29, 27, 0.8);
}

.icon-social {
  width: 15%;
}

.second-text {
  font-family: Rubik;
  font-size: 1.2rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(29, 29, 27, 0.8);
}

.code {
  text-align: end;
  font-family: Rubik;
  font-size: 1.2rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0277c4;
}

.model-text {
  font-family: Rubik;
  font-size: 2rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0277c4;
  text-align: center;
}

.text-recomendacion {
  color: #0277c4;

}
