<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-row size="8" slot="start" class="transparent">
        <ion-col size="6">
          <img class="p-1" src="./assets/logo.png" alt="logo" />
        </ion-col>
        <ion-col size="6" class="text-end">
          <img class="p-1" width="40%" src="./assets/amdlcc.png" alt="logo" />
        </ion-col>
      </ion-row>
      <ion-buttons slot="end">
        <ion-menu-button color="secondary"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!-- body -->
  <ion-grid>
    <!-- main -->
    <ion-row size="12" class="main-center main">
      <div class="my-4">
        <ion-col size="12">
          <ion-row size="12" class="transparent">
            <ion-col size="10">
              <div class="container my-5">
                <h1 class="title-main">
                  Súmate al diagnostico temprano de Cánceres
                  <b class="text-white">Hematológicos</b>
                </h1>
              </div>
            </ion-col>
            <ion-col size="2"></ion-col>
          </ion-row>
          <!-- buttons -->
          <ion-row size="12" class="transparent">
            <ion-col size="12">
              <div class="mx-2 mt-5 mb-1 text-start">
                <button (click)="iniciarDiagnostico()" type="button"
                  class="btn btn-tertiary btn-lg btn-gradient-orange">
                  <span class="btn-text"> Iniciar diagnóstico </span>
                </button>
              </div>
            </ion-col>
            <ion-col size="12">
              <div class="mx-2 mb-3 text-end">
                <!-- <button type="button" class="btn btn-primary btn-lg btn-gradient-blue">
                  <span class="btn-text">
                    Estudios clínicos
                  </span>
                </button> -->
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </div>
    </ion-row>
    <!-- content -->
    <ion-row size="12">
      <ion-col size="12" class="mt-5">
        <div class="div-content">
          <video autoPlay="false" class="img-caro" controls (click)="pauseVideo(videoplayer)" #videoPlayer>
            <source autoPlay="false" src="./assets/FullSizeRender.mov" type="video/mp4">
          </video>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="container mt-5">
          <h4 class="model-text">
            70% de los casos diagnosticados, llegan en etapas tardías
          </h4>
        </div>
      </ion-col>

      <ion-col size="12">
        <div class="container my-5">
          <!-- <h5 class="subtitle-second">Lorem ipsum dolor sit amet</h5> -->
          <div class="mt-4">
            <span class="second-text">
              El principal objetivo de <b class="fourMyPatient">4mypatient</b> es reducir el tiempo que demora un
              paciente en llegar a una confirmación diagnostica de cáncer y acceder a un tratamiento, para de esta
              forma, mejorar los resultados en su atención y su pronóstico.

              <br />
              <br />
              En la Asociación Mexicana de Lucha Contra el Cáncer estamos convencidos que una sospecha de cáncer
              identificada a tiempo y su consecuente referencia, puede cambiar la vida de una persona y todo su entorno
              en salud.
              <br />
              <br />
              Reconocemos el invaluable papel que tienen los médicos de primer contacto tienen, para lograr mejores
              desenlaces en este grupo de pacientes.

            </span>
          </div>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="container ">
          <span class="second-text">
            En el mundo, los Cánceres Hematológicos sumados (Linfoma,
            Leucemias y Mieloma) representan el tercer cáncer más
            frecuente en adultos, en hombres (81,160) y el cuarto en
            mujeres (61,490).
            <br />
            <br />
            La leucemia por si sola en México, representa la primera
            causa de muerte en niños de 0-14 años y en jóvenes entre
            los 15 y 19 años, según los datos del INEGI reportados a
            febrero del 2022, así como en datos reportados por
            Globocan.
            <br />

            <br />
            El diagnostico tardío tiene graves implicaciones para la
            persona que lo padece, su familia, el médico tratante y el
            sistema de salud.
          </span>
        </div>
      </ion-col>
      <ion-col size="12" class="mt-5">
        <div class="text-center my-2">
          <img width="40%" src="./assets/amdlcc.png" alt="cuatro pilares" />
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="my-4 container">
          <span class="second-text">
            Cambiemos esta historia juntos, por que el cáncer nos une
            a todos de alguna manera.
          </span>
        </div>
      </ion-col>
      <!-- image -->
      <ion-col size="12">
        <div class="my-5">
          <ion-grid>
            <div class="container">
              <ion-row size="12">
                <ion-col size="12">
                  <div class="text-center mb-4">
                    <img width="80%" src="./assets/logo.png" alt="cuatro pilares" />
                  </div>
                </ion-col>
                <ion-col size="12">
                  <div class="my-5">
                    <!-- <h5 class="subtitle-second">Lorem ipsum dolor sit amet</h5> -->
                    <div class="mt-4">
                      <span class="second-text">
                        <b class="fourMyPatient">4mypatient</b> fue creada gracias al apoyo de Hematólogos especialistas
                        y busca dar soporte a médicos de primer contacto, para facilitar la identificación de hallazgos
                        que pudieran conducir a una sospecha fundada de una posible hematopatía grave o cáncer
                        hematológico.

                        <br />
                        <br />
                        Reducir el tiempo en la confirmación diagnóstica por un especialista es clave para lograr el
                        mejor pronostico posible.

                      </span>
                    </div>
                  </div>
                </ion-col>
                <!-- <ion-col size="6">
                  <div class="mx-1">
                    <ion-grid>
                      <ion-row size="12">
                        <ion-col size="12">
                          <img class="img-circle" src="./assets/random/cancer.jpg" alt="detención de cancer">
                        </ion-col>
                        <ion-col size="12">
                          <div class="text-end my-2">
                          </div>
                        </ion-col>
                        <ion-col size="12">
                          <div class="text-end">
                            <span class="content-cancer">Impulsamos la detección temprana del cáncer.</span>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div class="mx-1">
                    <ion-grid>
                      <ion-row size="12">
                        <ion-col size="12">
                          <img class="img-circle" src="./assets/random/cancer2.jpg" alt="detención de cancer">
                        </ion-col>
                        <ion-col size="12">
                          <div class="text-start my-2">
                          </div>
                        </ion-col>
                        <ion-col size="12">
                          <div class="text-start">
                            <span class="content-cancer">Impulsamos la detección temprana del cáncer.</span>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                </ion-col> -->
                <ion-col size="12">
                  <div class="text-center my-4">
                    <img width="50%" src="./assets/liston.png" alt="detención de cancer" />
                  </div>
                </ion-col>
                <!-- quiero unirme -->
                <ion-col size="12">
                  <div class="text-center mb-4">
                    <h5 class="model-text">¿Cómo funciona?</h5>
                  </div>
                </ion-col>
                <ion-col size="12">
                  <div class="mb-4">
                    <span class="second-text">
                      Apoyado en el análisis de diferentes variables, espacialmente de los resultados de estudios de
                      laboratorio que indique a su paciente, <b class="fourMyPatient">4mypatient</b>, a partir de algoritmos específicos basados en
                      la evidencia clínica existente, le ayudará a levantar una sospecha fundada para impulsar una
                      acción o recomendación que pueda incidir directamente en el pronóstico de personas con
                      hematopatías graves.
                      <br />
                      <br />
                      Podrá conectar con un hematólogo especialista para apoyarlo con dudas puntuales que surjan.
                      <br><br>
                      “ <b class="fourMyPatient">4mypatient</b>  no le solicita datos personales de su paciente”
                      <br><br>
                      <b class="fourMyPatient">4mypatient</b> no es una herramienta diagnóstica, busca ser una guía de apoyo para usted en la
                      identificación de una hematopatía.
                      Lo invitamos a sumarse en esta causa.



                    </span>
                  </div>
                </ion-col>

                <!-- <ion-col size="12">
                  <div class="mx-2 mt-5 mb-1 text-center">
                    <button
                      (click)="registro()"
                      type="button"
                      class="btn btn-tertiary btn-lg btn-gradient-orange"
                    >
                      <span class="btn-text"> Quiero unirme </span>
                    </button>
                  </div>
                </ion-col> -->
              </ion-row>
            </div>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- footer -->
  <ion-grid>
    <ion-row size="12" class="content-footer ">
      <div class="my-1">
        <ion-grid class="transparent">
          <ion-row size="12" class="transparent">
            <ion-col size="12">
              <img class="logo-footer" src="./assets/logo.png" alt="logo Sumate al diagnostico oportuno" />
            </ion-col>
          </ion-row>
          <ion-row size="12" class="my-4" class="transparent">
            <ion-col size="12">
              <div class="text-center">
                <img (click)="facebook()" class="icon-social" src="./assets/icon/icon-facebook.png" alt="facebook" />
                <img (click)="instagram()" class="icon-social" src="./assets/icon/icon-instagram.png" alt="instagram" />
                <img (click)="twitter()" class="icon-social" src="./assets/icon/icon-twitter.png" alt="twitter" />
              </div>
            </ion-col>
          </ion-row>
          <ion-row size="12" class="my-4" class="transparent">
            <!-- <ion-col size="12" class="mb-2">
              <div class="text-start">
                <span class="text-footer">Acerca de</span>
              </div>
            </ion-col>
            <ion-col size="12" class="mb-2">
              <div class="text-start">
                <span class="text-footer">Preguntas frecuentes</span>
              </div>
            </ion-col>
            <ion-col size="12" class="mb-2">
              <div class="text-start">
                <span class="text-footer">Ayuda</span>
              </div>
            </ion-col> -->
            <ion-col size="12" class="my-2">
              <div class="text-center">
                <span (click)="goTerminos()" class="text-footer">Aviso de privacidad</span>
              </div>
            </ion-col>
          </ion-row>
          <ion-row size="12" class="my-2" class="transparent">
            <ion-col size="12" class="mb-1">
              <div class="text-start">
                <span class="email-footer">
                  <ion-icon color="primary" name="mail-outline"></ion-icon>
                  contacto@amlcc.org
                </span>
              </div>
            </ion-col>
            <ion-col size="12" class="mb-1">
              <div class="text-start">
                <span class="email-footer">
                  <ion-icon color="primary" name="call-outline"></ion-icon>
                  Oficina: (55) 5574 ‑ 0393
                  <br> (55) 5564 ‑ 0794
                </span>
              </div>
            </ion-col>
            <ion-col size="12" class="mb-1">
              <div class="text-start">
                <span class="email-footer">
                  <ion-icon color="primary" name="call-outline"></ion-icon>
                  Pacientes: (55) 5574 ‑ 0393
                </span>
              </div>
            </ion-col>
            <ion-col size="12">
              <div class="text-end">
                <span class="text-end-footer">
                  Asociación Mexicana de Lucha Contra el Cáncer A.C. Todos los
                  derechos reservados 2022
                </span>
              </div>
            </ion-col>
          </ion-row>

        </ion-grid>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
