<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-row size="8" slot="start" class="transparent">
        <ion-col size="6">
          <img class="p-1" src="./assets/logo.png" alt="logo" />
        </ion-col>
        <ion-col size="6" class="text-end">
          <img class="p-1" width="40%" src="./assets/amdlcc.png" alt="logo" />
        </ion-col>
      </ion-row>
      <ion-buttons slot="end">
        <ion-menu-button color="secondary"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!-- body -->
  <ion-grid>
    <!-- main -->
    <ion-row size="12" class="main-center">
      <div class="my-4">
        <ion-grid>
          <ion-row size="12">
            <ion-col size="12">
              <div class="container mt-5">
                <h1 class="title-main text-center">Red médica</h1>
              </div>
            </ion-col>
            <ion-col size="12" >
              <div class="container my-1" >
                <ion-row size="12" style="display: flex;"   >
                  <ion-col size="4" style="align-self: center;">
                    <div class="text-center">
                      <img src="./assets/random/heart.png" alt="Criterios de inclusion" />
                    </div>
                  </ion-col>
                  <ion-col size="8" style="align-self: center;">
                    <div class="text-start">
                      <span class="text-clinical-studies">
                        En esta sección podrá acceder al apoyo de un especialista Hematólog@ que amablemente se ha
                        sumado a participar con su tiempo y experiencia para resolver dudas puntuales que se le puedan
                        presentar.
                        <br>
                        Podrá acceder a una llamada a cualquiera de los que se marcan como disponibles en este momento.
                        <br>
                        Agradecemos su apoyo y disponibilidad para sumarse en esta causa en pro de los pacientes.

                      </span>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
            <!-- <ion-col size="12">
              <div class="container my-4">
                <div class="input-group mb-3">
                  <input type="text" class="form-control text-center" placeholder="Ingresar búsqueda"
                    aria-label="Username" aria-describedby="basic-addon1">
                  <span class="input-group-text" id="basic-addon1">
                    <ion-icon name="search-outline"></ion-icon>
                  </span>
                </div>
              </div>
            </ion-col> -->
            <!-- <ion-col size="12">
              <ion-row size="12" class="text-center">
                <ion-col size="6">
                  <div class="container">
                    <select class="form-select" aria-label="padecimiento">
                      <option selected>Padecimiento</option>
                      <option value="1">Cancer</option>
                      <option value="2">Gripa</option>
                      <option value="3">Tos</option>
                    </select>
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div class="container">
                    <select class="form-select" aria-label="Tipo de estudio">
                      <option selected>Tipo de estudio</option>
                      <option value="1">Hemograma</option>
                      <option value="2">Quimioterapia</option>
                      <option value="3">Fosfatasa</option>
                    </select>
                  </div>
                </ion-col>
              </ion-row>
            </ion-col> -->
          </ion-row>
        </ion-grid>
      </div>
    </ion-row>
    <!-- content -->
    <ion-row size="12" *ngIf="data">
      <div class="container my-4">
        <ion-card (click)="call(item.phone)" class="my-2 radius" *ngFor="let item of data">
          <div class="container text-start mt-1 mb-3">
            <ion-row size="12">
              <ion-col size="12" class="text-end">
                <span class="text-disponible">Disponible
                  <ion-icon class="text-center" name="ellipse" color="success"></ion-icon>
                </span>
              </ion-col>
              <ion-col size="4" class="center-icon">
                <ion-card class="radius">
                  <img src="./assets/avatar.jpg" alt="" />
                </ion-card>
              </ion-col>
              <ion-col size="8">
                <ion-row size="12" class="padd-left">
                  <ion-col size="12" class="my-1 pl-1">
                    <span class="title-specialty text-start">
                      {{getNameSpecial(item.specialityId)}}
                    </span>
                  </ion-col>
                  <ion-col size="12" class="my-1 pl-1">
                    <!-- <span class="name-person text-start"
                      >{{item.name}} {{item.firstName}}</span
                    > -->
                    <span class="name-person text-start">MED00{{item.id}}0</span>
                  </ion-col>
                  <ion-col size="12" class="my-1 pl-1" class="text-end">
                    <span class="text-end diagnostic">
                      {{getNameConsul(item.consultingType)}}
                    </span>
                  </ion-col>
                  <ion-col></ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
      </div>
    </ion-row>
  </ion-grid>
  <!-- footer -->
  <ion-grid>
    <ion-row size="12" class="content-footer">
      <div class="my-1">
        <ion-grid class="transparent">
          <ion-row size="12" class="transparent">
            <ion-col size="12">
              <img class="logo-footer" src="./assets/logo.png" alt="logo Sumate al diagnostico oportuno" />
            </ion-col>
          </ion-row>
          <ion-row size="12" class="my-4 transparent">
            <ion-col size="12">
              <div class="text-center">
                <img (click)="facebook()" class="icon-social" src="./assets/icon/icon-facebook.png" alt="facebook" />
                <img (click)="instagram()" class="icon-social" src="./assets/icon/icon-instagram.png" alt="instagram" />
                <img (click)="twitter()" class="icon-social" src="./assets/icon/icon-twitter.png" alt="twitter" />
              </div>
            </ion-col>
          </ion-row>
          <ion-row size="12" class="my-4 transparent">
            <!-- <ion-col size="12" class="mb-2">
              <div class="text-start">
                <span class="text-footer">Acerca de</span>
              </div>
            </ion-col>
            <ion-col size="12" class="mb-2">
              <div class="text-start">
                <span class="text-footer">Preguntas frecuentes</span>
              </div>
            </ion-col>
            <ion-col size="12" class="mb-2">
              <div class="text-start">
                <span class="text-footer">Ayuda</span>
              </div>
            </ion-col> -->
            <ion-col size="12" class="my-2">
              <div class="text-center">
                <span (click)="goTerminos()" class="text-footer">Aviso de privacidad</span>
              </div>
            </ion-col>
          </ion-row>
          <ion-row size="12" class="my-2 transparent">
            <ion-col size="12" class="mb-1">
              <div class="text-start">
                <span class="email-footer">
                  <ion-icon color="primary" name="mail-outline"></ion-icon>
                  contacto@amlcc.org
                </span>
              </div>
            </ion-col>
            <ion-col size="12" class="mb-1">
              <div class="text-start">
                <span class="email-footer">
                  <ion-icon color="primary" name="call-outline"></ion-icon>
                  Oficina: (55) 5574 ‑ 0393 y (55) 5564 ‑ 0794
                </span>
              </div>
            </ion-col>
            <ion-col size="12" class="mb-1">
              <div class="text-start">
                <span class="email-footer">
                  <ion-icon color="primary" name="call-outline"></ion-icon>
                  Pacientes: (55) 5574 ‑ 0393
                </span>
              </div>
            </ion-col>
          </ion-row>
          <ion-row size="12" class="my-2 transparent">
            <ion-col size="2"></ion-col>
            <ion-col size="10">
              <div class="text-end">
                <span class="text-end-footer">
                  Asociación Mexicana de Lucha Contra el Cáncer A.C. Todos los
                  derechos reservados 2022
                </span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
