ion-content {
  background-color: #fafafa;

}

.title-main {
  color: #0277c4;
  text-align: left;
  font-size: 2.5rem;
  font-weight: 100;
}

.logo-size {
  width: 40%;
  height: auto;
}

.logo-size-cancer {
  margin-right: 2.25rem;
}

.text-clinical-studies {
  font-size: .8rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(29, 29, 27, 0.8);
}

.input-group-text {
  background-color: white;
}

.title-card {
  font-size: .8rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.85);
}

.text-card {
  font-size: .7rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.85);
}

.center-icon {
  align-self: center;
}

.text-disponible {
  font-size: .8rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.radius {
  border-radius: 1rem;

}

.padd-left {
  padding-left: 9px;
}

.title-specialty {
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #FF8B00;
}

.name-person {
  font-size: 1.2rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(29, 29, 27, 0.8);
}

.diagnostic {
  font-size: .9rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
}

.content-footer {
  text-align: center;
  justify-content: center;
  padding: 2rem;
  background-color: #fafafa;

}



.logo-footer {
  width: 70%;
}

.icon.social {
  width: 15%;
}

.text-footer {
  font-family: Rubik;
  font-size: 1rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0277c4;
}

.email-footer {
  font-family: Rubik;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0277c4;
  align-self: center;
}

.text-end-footer {
  font-family: Rubik;
  font-size: 11px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: rgba(29, 29, 27, 0.8);
}

.icon-social {
  width: 15%;
}

.second-text {
  font-family: Rubik;
  font-size: 1.3rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(29, 29, 27, 0.8);
}

.model-text {
  font-family: Rubik;
  font-size: 2.3rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(29, 29, 27, 0.8);
}
