ion-content {
  background-color: #fafafa;
}

ion-grid {
  background-color: #fafafa;
}

ion-row {
  background-color: #fafafa;
}

ion-input {
  background: rgb(250, 250, 250);
}

ion-item {
  background-color: #fff;
}

ion-select {
  background-color: #fff;
}

.logo-size {
  width: 40%;
  height: auto;
}

.logo-size-cancer {
  margin-right: 2.25rem;
}

.title-main {
  color: white;
  text-align: left;
  font-size: 1.7rem;
  font-weight: 100;
}

.text-clinical-studies {
  font-size: .8rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(29, 29, 27, 0.8);
}

.input-group-text {
  background-color: white;
}

.title-card {
  font-size: .8rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.85);
}

.text-card {
  font-size: .7rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.85);
}

.center-icon {
  align-self: center;
}
