<ion-app class="main">
  <ion-grid>
    <ion-row>
      <ion-col size="12" (click)="iniciarSesion()">
        <div class="ion-text-start back  ion-margin-bottom">
          <p class="puntero">
            < Regresar</p>
        </div>
      </ion-col>
      <!-- titulo -->
      <ion-col size="12" class="ion-margin-top">
        <div class="text-title">
          <span class="text-title">Recuperar contraseña</span>
        </div>
      </ion-col>
      <ion-col size="12" class="margin-pharag">
        <span class="pharag-detail">Escribe el correo electrónico de tu cuenta para
          que recibas una liga con una contraseña temporal.</span>
      </ion-col>
      <ion-col size="12" class="">
        <!-- <ion-label floating>Correo electrónico</ion-label> -->
        <ion-item class="closed">
          <ion-input type="email" [(ngModel)]="email" placeholder="Correo electrónico">
          </ion-input>
          <ion-icon slot="end" color="black" name="mail-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="margin-btn text-center">
        <div>
          <button class="btn btn-tertiary btn-lg btn-gradient-blue" color="primary" [disabled]="email === ''"
            (click)="forgot(email)" shape="round">
            <span class="btn-text">
              Enviar
            </span>
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-app>
