<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button color="secondary"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <img width="40%" src="./../../assets/logo.png" alt="logo" />
      </ion-title>
      <!-- <ion-title>{{ home }}</ion-title> -->
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <strong>profile</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
