<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-row size="8" slot="start" class="transparent">
        <ion-col size="6">
          <img class="p-1" src="./assets/logo.png" alt="logo" />
        </ion-col>
        <ion-col size="6" class="text-end">
          <img class="p-1" width="40%" src="./assets/amdlcc.png" alt="logo" />
        </ion-col>
      </ion-row>
      <ion-buttons slot="end">
        <ion-menu-button color="secondary"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!-- body -->
  <ion-grid>
    <!-- Paciente -->
    <ion-row size="12" class="my-5">
      <ion-col size="12">
        <h3 class="text-center model-text">Términos de uso </h3>
      </ion-col>
      <ion-col size="12">
        <div class="container my-3 mx-1">
          <span><b>1. Términos y condiciones:</b></span>
          <br>
          <br>
          <span class="">
            Usted garantiza que ha leído, comprende y acepta cumplir estos términos y condiciones y la política de
            privacidad que AMLCC anexa en este documento. Si no comprende este documento o no acepta cumplir con sus
            términos no deberá utilizar los servicios.
            <br><br>
          </span>
        </div>
        <div class="container my-3 mx-1">
          <span><b>2. Política de privacidad:</b></span>
          <br>
          <br>
          <span class="">
            Al utilizar la aplicación 4mypatient o sitio web de Asociación Mexicana de Lucha Contra el Cáncer A.C. usted
            acepta la recopilación y uso de cierta información sobre su persona según se especifica en la Política de
            privacidad vigente en el momento de usar dicha información. La Política de Privacidad se encuentra descrita
            al final de este documento.
            <br><br>
          </span>
        </div>
        <div class="container my-3 mx-1">
          <span><b>3. Cambio en el contrato:</b></span>
          <br>
          <br>
          <span class="">
            Asociación Mexicana de Lucha Contra el Cáncer A.C. se reserva el derecho de modificar este documento en
            cualquier momento, y publicarlo en su página web. Es responsabilidad de usted revisar este documento de
            forma periódica. Se considera que está de acuerdo con dichas modificaciones mediante su decisión de seguir
            utilizando las aplicaciones después de la fecha en la que se publique el documento enmendado o modificado.
            Se considerará que ha acordado con los Términos Adicionales por nuestra decisión de continuar al acceder a
            la aplicación móvil o al sitio en Internet, o si usa de otra manera cualquiera de los Servicios luego de la
            fecha en que dichos Términos Adicionales entraron en vigencia.
            <br><br>
          </span>
        </div>
        <div class="container my-3 mx-1">
          <span><b>4. Elegibilidad:</b></span>
          <br>
          <br>
          <span class="">
            Al utilizar los servicios usted declara y garantiza que es mayor de 18 años y en caso contrario no se
            encuentra debidamente autorizado para celebrar y formalizar contratos conforme a la ley aplicable.
            <br><br>
          </span>
        </div>

        <div class="container my-3 mx-1">
          <span><b>5. Licencia: </b></span>
          <br>
          <br>
          <span class="">
            Asociación Mexicana de Lucha Contra el Cáncer A.C. le entrega una licencia no exclusiva, no transferible en
            su licencia, revocable y no transferible para utilizar nuestras aplicaciones. Los servicios son para su uso
            personal y no comercial. Las aplicaciones, el sitio web, y servicios o cualquier parte de ellos no pueden
            reproducirse, duplicarse, copiarse, venderse, revenderse, distribuirse, ser visitados o de otro modo
            explotados para ningún fin comercial sin el expreso consentimiento de Asociacion Mexicana de Lucha Contra el
            Cancer A.C.. Este contrato no le otorga derechos en la propiedad intelectual de Asociacion Mexicana de Lucha
            Contra el Cancer A.C. o cualquier otra parte. En caso de que usted no cumpla con las disipaciones de este
            contrato, finalizarán sus derechos conforme con esta sección.
          </span>
        </div>
        <div class="container my-3 mx-1">
          <span><b>6. La aplicación: </b></span>
          <br>
          <br>
          <span class="">
            La aplicación en uso no provee servicios médicos profesionales, no existe una relación médico-paciente entre
            Asociacion Mexicana de Lucha Contra el Cancer A.C. y usted. Asociacion Mexicana de Lucha Contra el Cancer
            A.C. provee su servicio solamente con fines informativos, la información generada en las aplicaciones de 4my
            Patient y Asociacion Mexicana de Lucha Contra el Cancer A.C. no son ni deben interpretarse como opiniones
            médicas. 4myPatient y Asociacion Mexicana de Lucha Contra el Cancer A.C. no es un profesional médico, no
            proporciona servicios médicos ni brinda consejos médicos. Las aplicaciones en uso no sustituyen el consejo
            de un profesional médico para tomar decisiones médicas, diagnosticar o tratar una condición médica o de
            salud.
            <br><br>
            Antes de usar las aplicaciones de Asociacion Mexicana de Lucha Contra el Cancer A.C. debe consultar a su
            médico, en especial si llega a detectar síntomas o cambios físicos que puedan ser un factor de riesgo en su
            condición de salud.
            <br><br>
          </span>
        </div>
        <div class="container my-3 mx-1">
          <span><b>7. La aplicación: </b></span>
          <br>
          <br>
          <span class="">
            En relación con el uso de determinadas funciones de los Servicios, usted deberá completar un formulario de
            inscripción. Usted manifiesta y garantiza que toda la información de usuario proporcionada en el formulario
            de inscripción o, de otra manera, en conexión con su uso de los Servicios será actual, completo y exacto.
            Como un usuario registrado de los Servicios, usted es totalmente responsable de mantener la confidencialidad
            de su información de cuenta de usuario. No puede usar la cuenta ni el nombre de la cuenta de cualquier otro
            miembro en ningún momento. Debe avisarnos de inmediato en caso de cualquier uso conocido o sospechoso de uso
            no autorizado de su cuenta de usuario, o cualquier incumplimiento conocido o presunto de seguridad, incluso
            pérdida, robo o divulgación no autorizada de su información de cuenta de usuario suya o de otra persona.
            <br><br>
            Asimismo, es totalmente responsable de todas las actividades que puedan ocurrir en su cuenta de usuario. No
            seremos responsables de ninguna pérdida que haya incurrido como resultado de que alguien le usó la cuenta,
            ya sea con o sin su conocimiento. También puede ser responsable por todas las pérdidas incurridas por
            Asociacion Mexicana de Lucha Contra el Cancer A.C., sus afiliadas, funcionarios, directores, empleados,
            consultores, agentes y representantes debido al uso de su cuenta por otra persona.
            <br><br>
          </span>
        </div>
        <div class="container my-3 mx-1">
          <h3 class="text-center model-text">Base de datos de sintomas:</h3>
        </div>
        <div class="container my-3 mx-1">
          <span class="">
            La base de datos de síntomas y estudios es tomada de diversas fuentes. Asociacion Mexicana de Lucha Contra
            el Cancer A.C. no garantiza la precisión o la utilidad de toda la información nutricional en la base de
            datos de alimentos. Asociacion Mexicana de Lucha Contra el Cancer A.C. no será responsable por las pérdidas
            o daños que resulten de confianza en la información nutricional. La información de la base de datos no puede
            reproducirse, duplicarse, copiarse, modificarse, venderse, revenderse, distribuirse, ser visitada o de
            cualquier modo explotada para ningún fin comercial sin el expreso consentimiento por escrito de Asociacion
            Mexicana de Lucha Contra el Cancer A.C.. Usted , sus representantes personales y herederos por la presente
            acuerdan de forma voluntaria liberar, renunciar , exonerar , mantener indemne a Asociacion Mexicana de Lucha
            Contra el Cancer A.C. y a sus funcionarios , directores , empleados, agentes , afiliados, representantes ,
            sublicenciatarios , sucesores y causahabientes de cualquier reclamo, acción o pérdida por daños corporales,
            a la propiedad, emocionales, perdida de servicios u otros daños ocurridos a usted o terceros que puedan
            resultar del uso de sus aplicaciones.
            <br><br>
            Consentimiento para recibir información de Asociacion Mexicana de Lucha Contra el Cancer A.C.:
            <br><br>
            Usted puede recibir comunicaciones por correo electrónico, de 4myPatient y Asociacion Mexicana de Lucha
            Contra el Cancer A.C. con ofertas, promociones e información relacionada con los servicios de 4myPatient y
            Asociacion Mexicana de Lucha Contra el Cancer A.C.. Usted puede elegir no recibir estos mensajes siguiendo
            las instrucciones para cancelar la suscripción que se encuentran en cada boletín enviado por correo
            electrónico.
            <br><br>
            Usted declara y garantiza que, cuando utiliza el Sitio web, las Aplicaciones y los Servicios, cumplirá la
            ley y respetará los derechos de propiedad intelectual de otros. El uso del Sitio web y los Servicios se
            encuentra en todo momento regido por y sujeto a las leyes relacionadas con la titularidad de los derechos de
            autor y el uso de la propiedad intelectual en general. Usted acuerda no cargar, publicar, transmitir,
            mostrar, exponer o distribuir ningún contenido, información u otros materiales en violación a los derechos
            de autor, marcas u otra propiedad intelectual o derecho de propiedad de los terceros.
            <br><br>
            Usted es responsable de probar que el contenido, la información y otros materiales que comparte a través de
            nuestras plataformas, sistemas, aplicaciones no violan ninguna ley o derechos de terceros.
            <br><br>
            En cualquier momento podemos suspender su uso de los Servicios y/o eliminar o desactivar cualquier
            contenido, sobre el cual creemos de manera razonable y de buena fe es una infracción de cualquiera de esos
            términos y condiciones. Le brindaremos una notificación de cualquiera de esas interrupciones o
            desactivaciones antes de su implementación, a menos que dicha interrupción o desactivación sea necesaria
            para cumplir con el proceso legal, la reglamentación, ordenar o prevenir el daño inminente a los Servicios o
            cualquier tercero, en cuyo caso notificaremos en la medida de lo aplicable y permitido por ley sobre dicha
            interrupción o desactivación tan pronto como sea razonablemente práctico en adelante.
            <br><br>
            Usos prohibidos: usted declara que de ninguna manera Utilizará o intentará utilizar todo motor, software,
            herramienta, agente u otro dispositivo o mecanismo (incluyendo sin limitación, buscadores, arañas, robots,
            avatares o agentes inteligentes) para recolectar o de otro modo recopilar información del Sitio web para
            cualquier uso, incluyendo sin limitación el uso en los sitios web de terceros; accederá a contenido o datos
            que no le incumben, o se registrará en un servidor o cuenta en donde no esté autorizado su acceso; intentará
            averiguar, analizar o probar la vulnerabilidad de los Servicios, el Sitio web, las Aplicaciones o todo
            sistema o red asociados, ni violará las medidas de seguridad o autentificación sin autorización apropiada;
            interferirá o intentará interferir con el uso del Sitio web, las Solicitudes o los Servicios de otro
            usuario, host o red, incluyendo, sin limitación, introduciendo virus, sobrecargando, “inundando con correo”,
            “enviando correo no deseado”, “bombardeando con correo” o “bloqueando”; usará los Servicios para enviar
            correos electrónicos no solicitados, incluyendo sin limitaciones promociones o propagandas de productos o
            servicios; Usted reconoce que las aplicaciones y todos los derechos de propiedad intelectual son y serán
            propiedad de Asociacion Mexicana de Lucha Contra el Cancer A.C.. Reconoce que la fuente y el código objeto
            de las aplicaciones y el formato, directorios, consultas, algoritmos estructura y organización de las
            aplicaciones son propiedad intelectual y confidencial de Asociacion Mexicana de Lucha Contra el Cancer A.C..
          </span>
        </div>
        <br><br>
        <div class="container my-3 mx-1 text-center">
          <span><b>Usos prohibidos</b></span>
        </div>
        <br>
        <div class="container my-3 mx-1">
          <h3 class="text-center model-text">NORMAS DE LA COMUNIDAD Y PAUTAS DE CONDUCCIÓN</h3>
        </div>
        <div class="container my-3 mx-1">
          <span>Usted acuerda que no deberá (y/o no usará el sitio en Internet, la Aplicación móvil y/o cualquier parte
            de nuestros Servicios para):</span>
        </div>
        <div class="container my-3 mx-1">
          <span> 1. Subir, publicar, enviar por correo electrónico o de otra forma, transmitir cualquier Contenido del
            Usuario u otros materiales que:
            <br><br>
            <ol type="i" start="1">
              <li>son ilícitos, dañinos, amenazantes, abusivos, acosantes, provocativos, ilícitos, difamatorios,
                vulgares, injuriosos, calumniosos, discriminatorios, invasivo de la privacidad de otro, odiosos u
                objetables racionalmente, étnicamente o de otra manera (a nuestro exclusivo criterio);
              <li> tienen contenido adulto, incluidos los términos obscenos, pornográficos y/o sexuales, descripciones
                y/o imágenes, desnudez, blasfemia o violencia gráfica;
              <li>incitan o fomentan las actividades penales o terroristas o el daño físico contra otro;
              <li>explotar las agendas políticas o los temas “candentes” para uso comercial; o que contienen discurso de
                odio basados en la raza, el sexo, la nacionalidad, la afiliación religiosa, el estado civil, la
                orientación sexual, la identidad de género o el idioma de una persona o de un grupo;
              <li>no es suyo o que usted no tenga derecho a subir, publicar, enviar por correo electrónico o de otra
                manera transmitir conforme alguna ley o relación contractual o fiduciaria (tal como información
                privilegiada, información patentada y confidencial obtenida o divulgada como parte de relaciones
                laborales o de acuerdo con contratos de no divulgación);
              <li>infringir cualquier derecho de patente, marca registrada, secreto comercial, copyright o derecho de
                autor, derecho de privacidad o publicidad u otros derechos patentados de cualquier parte que no sea
                engañosa, falsa o fraudulenta o que de otra manera pueda ser ilícita o dar lugar a la responsabilidad
                civil o penal;
              <li>no son materiales promocionales, de publicidad autorizados, “correo basura”, “spam”, “phishing o
                fraude electrónico”, “cartas en cadena”, “esquemas de pirámide”, o cualquier otra forma de
                requerimiento, opiniones o notificaciones, comercial o de otra forma;
              <li>
                contiene virus de software, spyware, adware, gusanos o cualquier otro código de malware o malicioso de
                la computadora, archivos o programas diseñados para interrumpir, destruir o limitar la funcionalidad de
                cualquier software o hardware o equipo de telecomunicaciones;
                <br><br>
                <ol>
                  <li>Dañar a menores de alguna manera o solicitar o de otra manera intentar obtener cualquier
                    información de un menor;</li>
                  <li>Publicar o, de otra forma, solicitar fondos o constituir un requerimiento para bienes o servicios;
                  </li>
                  <li>
                    Imitar a cualquier persona o entidad, incluso, entre otros, cualquier usuario de los Servicios, un
                    director, funcionario, empleado, accionista, agente o representante de ASOCIACION MEXICANA DE LUCHA
                    CONTRA EL CANCER A.C., nuestros clientes comerciales o cualquier otra persona o entidad, o afirmar
                    de manera falsa o de otra forma tergiversar su afiliación con ASOCIACION MEXICANA DE LUCHA CONTRA EL
                    CANCER A.C., nuestros clientes comerciales o cualquier otra persona o entidad;
                  </li>
                  <li>Proveer información falsa, engañosa o inexacta a ASOCIACION MEXICANA DE LUCHA CONTRA EL CANCER
                    A.C. o a cualquier otro miembro;</li>
                  <li>
                    Crear más de un único perfil o registro público para más de una cuenta, excepto se indique
                    específicamente en esos Términos y Servicios, cree una cuenta en nombre de otro o cree una identidad
                    falsa o engañosa en los Servicios;
                  </li>
                  <li>
                    Falsificar encabezados o manipular de otro modo los identificadores, a fin de disfrazar el origen de
                    algún Contenido u otros materiales transmitidos a o a través de los Servicios;
                  </li>
                  <li>
                    Intentar sondear, escanear o probar la vulnerabilidad de los Servicios o cualquier sistema o red
                    asociado o el incumplimiento de seguridad o las medidas de autenticación sin la autorización
                    adecuada;
                  </li>
                  <li>
                    Usar o conmocionar los Servicios en cualquier manera que podría dañar, desactivar, sobrecargar o
                    perjudicar los Servicios o su funcionalidad o perturbar el flujo normal de diálogo (incluso, entre
                    otros, “inundación”, “bombardeo postal” o “paliza”), o de otra manera, actuar de una manera que
                    afecte negativamente o, de otra forma, disminuya la calidad de la experiencia de otro usuario de los
                    Servicios;
                  </li>
                  <li>
                    Interferir o interrumpir los Servicios o los servidores o redes conectadas a los Servicios, o no
                    acatar cualquiera de los requisitos, procedimientos, políticas o normas de las redes conectadas a
                    los Servicios;
                  </li>
                  <li>
                    Infringir de forma intencional o no intencional toda legislación vigente local, estatal, nacional o
                    internacional, incluso, entre otras, toda reglamentación que tenga la fuerza de ley;
                  </li>
                </ol>
              </li>

            </ol>
            <br><br>
            “Acechar” o de otra forma acosar a otro usuario o empleado de los Servicios;
            <br><br>
            Solicitar, recopilar o publicar los datos personales o intentar solicitar, recopilar o publicar datos
            personales sobre otros usuarios de los Servicios, incluso apellidos o contraseñas;
            <br><br>
            Acceder o intentar acceder a la cuenta de otro usuario sin su consentimiento;
            <br><br>
            Ser susceptible de someterse a la ingeniería inversa, desmontar o de compilar la aplicación móvil, o
            intentar descubrir o recrear el código fuente para la Aplicación móvil o cualquier parte de los Servicios;
            <br><br>
            Ceder, transferir o sublicenciar sus derechos como un usuario registrado de los Servicios.
            <br><br>
            Otras marcas, que aparezcan en la aplicación pueden ser marcas de terceros. Ni uso de la aplicación ni este
            contrato le otorgan ningún derecho, título o interés reproducir o utilizar las marcas de 4myPatient o
            Asociacion Mexicana de Lucha Contra el Cancer A.C. o de terceros que aparezcan en la aplicación. Usted
            acuerda que toda oportunidad de negocio de las marcas de 4myPatient o Asociacion Mexicana de Lucha Contra el
            Cancer A.C. que genere como resultado de su uso será en beneficio de Asociacion Mexicana de Lucha Contra el
            Cancer A.C.. En ningún momento podrá usted objetar o ayudar a otros a objetar derecho, título o interés de
            las marcas de Asociacion Mexicana de Lucha Contra el Cancer A.C. ni 4myPatient.
            <br><br>
            <b>ACEPTACIÓN DE RIESGO;</b> SUS INTERACCIONES CON OTROS EN LOS SITIOS EN INTERNET Y/O APLICACIONES MÓVILES
            <br><br>
            ASOCIACION MEXICANA DE LUCHA CONTRA EL CANCER A.C. NIEGA EXPRESAMENTE TODAS LAS RESPONSABILIDADES QUE PUEDAN
            SURGIR DE O ESTÉN RELACIONADAS CON EL USO DE LOS SERVICIOS Y SU PARTICIPACIÓN EN CUALQUIER OTRA ACTIVIDAD
            OFRECIDA EN LOS SERVICIOS, INCLUSO, ENTRE OTRAS, SU PARTICIPACIÓN EN CUALQUIER GRUPO DE ASOCIACION MEXICANA
            DE LUCHA CONTRA EL CANCER A.C. O SUS INTERACCIONES CON CUALQUIER FACILITADOR O INSTRUCTOR. USTED ASUME A
            SABIENDAS Y SIN RESTRICCIONES TODOS LOS RIESGOS CUANDO USA LOS SERVICIOS.
            <br><br>
            USTED ES EXCLUSIVAMENTE RESPONSABLE DE SUS INTERACCIONES CON OTROS MIEMBROS. USTED ACEPTA Y COMPRENDE QUE
            ASOCIACION MEXICANA DE LUCHA CONTRA EL CANCER A.C. NO ESTÁ OBLIGADO DE NINGUNA MANERA A (A) EXAMINAR A SUS
            MIEMBROS, (B) INVESTIGAR LOS ANTECEDENTES DE SUS MIEMBROS, O (C) REVISAR O VERIFICAR LAS DECLARACIONES DE
            SUS MIEMBROS, INCLUSO, ENTRE OTROS, LA INFORMACIÓN O LAS MANIFESTACIONES INCLUIDAS EN LOS PERFILES PÚBLICOS.
            POR LA PRESENTE USTED ACUERDA EJERCER TODAS LAS PRECAUCIONES RAZONABLES EN TODAS LAS INTERACCIONES CON OTROS
            MIEMBROS, EN ESPECIAL, SI DECIDE REUNIRSE EN PERSONA CON OTRO MIEMBRO. ASOCIACION MEXICANA DE LUCHA CONTRA
            EL CANCER A.C. NO MANIFIESTA, GARANTIZA, AVALA NI JUSTIFICA LA CONDUCTA DE SUS MIEMBROS NI SU COMPATIBILIDAD
            CON USTED.
          </span>

        </div>
        <div class="container my-3 mx-1 ">
          <span>
            <b>DESCARGO DE GARANTÍAS</b>
            <br><br>
            ASOCIACION MEXICANA DE LUCHA CONTRA EL CANCER A.C., EN SU NOMBRE Y EL DE SUS AFILIADOS Y CUALQUIERA DE SUS
            PROVEEDORES DE SERVICIO DE TERCEROS CORRESPONDIENTES, LICENCIANTES Y PROVEEDORES, POR LA PRESENTE NIEGA
            TODAS LAS GARANTÍAS. LOS PRODUCTOS, LAS OFERTAS, EL CONTENIDO Y LOS MATERIALES PROPORCIONADOS EN LOS
            SERVICIOS ESTÁN PROPORCIONADOS «EN EL ESTADO ACTUAL» Y SIN GARANTÍAS DE NINGÚN TIPO, EXPLÍCITAS NI
            IMPLÍCITAS. EN GENERAL, EN LA MEDIDA PERMITIDA POR LEY, ASOCIACION MEXICANA DE LUCHA CONTRA EL CANCER A.C.,
            EN SU NOMBRE, Y EL DE SUS AFILIADOS Y CUALQUIERA DE SUS PROVEEDORES DE SERVICIO DE TERCEROS
            CORRESPONDIENTES, LICENCIANTES Y PROVEEDORES, NIEGA TODAS LAS GARANTÍAS EXPRESAS O IMPLÍCITAS, INCLUSO,
            ENTRE OTRAS, LAS GARANTÍAS IMPLÍCITAS DE COMERCIABILIDAD Y APTITUD PARA UN FIN PARTICULAR, TÍTULO,
            COMPATIBILIDAD, SEGURIDAD, EXACTITUD O NO INFRACCIÓN. NI ASOCIACION MEXICANA DE LUCHA CONTRA EL CANCER A.C.,
            NI CUALQUIERA DE SUS AFILIADOS, NI SUS LICENCIANTES, PROVEEDORES DE SERVICIO O PROVEEDORES CORRESPONDIENTES
            GARANTIZAN QUE LAS APLICACIONES O CUALQUIER FUNCIÓN INCLUIDA EN LAS APLICACIONES SERÁ ININTERRUMPIDA NI
            LIBRE DE ERRORES, QUE LOS DEFECTOS SERÁN CORREGIDOS O QUE LAS APLICACIONES O LOS SERVIDORES QUE PONEN A
            DISPOSICIÓN LAS APLICACIONES ESTÉN LIBRES DE VIRUS U OTROS ELEMENTOS DAÑINOS.
            <br><br>
            NINGÚN PRODUCTO, OFERTA, CONTENIDO Y MATERIAL DESCARGADO O DE OTRA MANERA OBTENIDO A TRAVÉS DEL USO DE LOS
            SERVICIOS SE REALIZA A SU EXCLUSIVO RIESGO Y USTED SERÁ EL ÚNICO RESPONSABLE DE CUALQUIER DAÑO A SU SISTEMA
            DE COMPUTADORA O SUS DISPOSITIVOS O LA PÉRDIDA DE DATOS QUE SE DERIVE DE LA DESCARGA DE CUALQUIERA DE ESOS
            PRODUCTOS, OFERTAS, CONTENIDO O MATERIAL.
            <br><br>
            NI ASOCIACION MEXICANA DE LUCHA CONTRA EL CANCER A.C., NI CUALQUIERA DE NUESTROS AFILIADOS, NI CUALQUIERA DE
            SUS RESPECTIVOS LICENCIANTES, LICENCIATARIOS, CLIENTES COMERCIALES, PROVEEDORES DE SERVICIOS O PROVEEDORES
            GARANTIZAN O SE MANIFIESTAN EN RELACIÓN CON EL USO DE LOS PRODUCTOS, OFERTAS, CONTENIDO Y MATERIALES EN LOS
            SERVICIOS EN TÉRMINOS DE SU CORRECCIÓN, EXACTITUD, CONFIABILIDAD, O DE OTRA MANERA.
            NINGÚN ASESORAMIENTO NI INFORMACIÓN, OBTENIDA DE SU PERSONAL O A TRAVÉS DE LOS SERVICIOS CREARÁ ALGUNA
            GARANTÍA NO CONCEDIDA EXPRESAMENTE EN ESTOS TÉRMINOS Y CONDICIONES.

          </span>
        </div>
        <div class="container my-3 mx-1">
          <span>
            <b>Rescisión.</b>
            <br><br>
            Acción legal Asociacion Mexicana de Lucha Contra el Cancer A.C. a su discreción tomará acciones legales en
            relación a cualquier violación real o que se sospeche de este contrato. Asociacion Mexicana de Lucha Contra
            el Cancer A.C. tendrá derecho de exigirle el pago como parte de dicha acción legal, y usted acuerda pagar
            los costos razonables de los horarios de los abogados incurridos como resultado de dicha acción legal.
            <br><br>
            Notificaciones: todas las notificaciones requeridas o permitidas por este contrato deberán hacerse por
            escrito. Asociacion Mexicana de Lucha Contra el Cancer A.C. notificará por medio de un correo electrónico a
            la dirección que usted proporciona: contacto@amlcc.org o en su página web <a href="https://www.amlcc.org."
              target="_blank" rel="noopener noreferrer"> https://www.amlcc.org.</a> Usted garantiza que su dirección de
            correo electrónico es correcto y actual.
          </span>
        </div>
        <div class="container my-3 mx-1">
          <h3 class="text-center model-text">Política de privacidad</h3>
        </div>
        <div class="container my-3 mx-1">
          <span>El siguiente aviso de privacidad describe el compromiso de Asociación Mexicana de Lucha Contra el Cáncer
            A.C. (AMLCC) para la protección de sus datos personales, recabados a través de su aplicación 4myPatient así
            como su página web. Los datos de tráfico son una información anónima que no lo identifica personalmente a
            Usted. Cuando los usuarios descargan , instalan o utilizan la aplicación 4myPatient de Asociacion Mexicana
            de Lucha Contra el Cancer A.C. en sus teléfonos celulares u otros dispositivos de comunicación inalámbricos,
            Asociacion Mexicana de Lucha Contra el Cancer A.C. recopila información que incluye sin limitación los
            proveedores de telefonía, un identificador de dispositivo único, información de geo ubicación (si el usuario
            lo permite), los tipos de dispositivos móviles que acceden a la Aplicación, y el tipo de sistemas operativos
            que acceden a las Aplicaciones (conjuntamente, “Datos de dispositivos móviles”). Estos datos los utiliza
            Asociacion Mexicana de Lucha Contra el Cancer A.C. para comprender mejor los patrones de uso y mejorar las
            aplicaciones. Adicional a ello se recopilarán los siguientes datos previa aceptación de los profesionales de
            la salud a quienes se dirige este desarrollo:
            <br><br>
            <ul>
              <li>Especialidad</li>
              <li>Nombre completo</li>
              <li>Fecha de nacimiento</li>
              <li>Sexo</li>
              <li>Cedula profesional (opcional)</li>
              <li>Especialidad</li>
              <li>Tipo de consultorio</li>
              <li>Telefono del consultorio</li>
              <li>Estado</li>
              <li>Dirección</li>
              <li>Correo electrónico</li>
            </ul>
            <br><br>
            Estos datos serán utilizados para poder crear una cuenta y realizar una red de profesionales de la salud.
          </span>
        </div>
        <div class="container my-3 mx-1">
          <span>
            <b>Información personal.</b>
            <br><br>
            Para elegir no compartir datos demográficos con terceros, envíe un email a contacto@amlcc.org con su
            negativa a compartir este tipo de información con terceros ajenos a Asociacion Mexicana de Lucha Contra el
            Cancer A.C. y Usted. Escriba en su mensaje por favor su nombre completo, domicilio, teléfono de contacto,
            documento que acredite su identidad y precisar los datos sobre los que desea ejercer los derechos a la
            privacidad.
            <br><br>
            Como muchas páginas web en la actualidad, para mejorar nuestro servicio para recabar datos sobre su
            navegación en nuestras sitios web , como su tipo de navegador, sistema operativo, páginas de internet que
            visita , vínculos utilizados , dirección IP, pagina que visitó antes de nuestro sitio, utilizamos cookies,
            web beacons , estas cookies y otras tecnología pueden ser deshabilitadas, para ello consulte las
            herramientas y características de su navegador.
            <br><br>
            La información relacionada a su persona que se le solicita en las aplicaciones y pagina web como datos de
            contacto como su nombre, email, datos demográficos (información sobre usted pero que no lo identifica) como
            su sexo, datos de su condición física o estudios realizados. La información personal se utiliza para mejorar
            el funcionamiento de la aplicación y para permitir la creación de un perfil más completo. No tiene la
            obligación de proporcionar esta información pero no hacerlo puede hacer que usted no pueda utilizar
            completamente nuestras aplicaciones o su rendimiento no sea el adecuado. Para poder darle un servicio de
            calidad, y transmitir los datos ingresados en su app a su nutriólogo, médico, o personal sanitario, que
            requiera apoyarle, Asociacion Mexicana de Lucha Contra el Cancer A.C. puede compartir datos demográficos con
            terceros de forma anónima y/o en general para análisis, investigación, realización de estadísticas
            poblacionales y otros fines similares.

          </span>
        </div>
        <div class="container my-3 mx-1">
          <span>
            <b>Excepciones</b>
            <br><br>
            Asociacion Mexicana de Lucha Contra el Cancer A.C. se reserva el derecho de divulgar información personal
            cuando así lo requiere la ley vigente en respuesta a un citatorio u orden judicial o cuando Asociacion
            Mexicana de Lucha Contra el Cancer A.C. considera necesaria la divulgación para proteger los derechos o
            propiedad de Asociacion Mexicana de Lucha Contra el Cancer A.C..

          </span>
        </div>
        <div class="container my-3 mx-1">
          <span>
            <b>Transferencia de negocio o quiebra:</b>
            <br><br>
            Asociacion Mexicana de Lucha Contra el Cancer A.C. se reserva el derecho de trasmitir toda la información
            personal y demográfica que posee, a una organización sucesora en caso de fusión , compra, quiebra o venta de
            los activos de Asociacion Mexicana de Lucha Contra el Cancer A.C..
            <br><br>Seguridad de la información. Asociacion Mexicana de Lucha Contra el Cancer A.C. ha implementado y
            tiene procedimientos y prácticas de seguridad razonables diseñados para brindar protección contra el acceso,
            uso modificación, destrucción o divulgación no autorizada de Su información personal, sin embargo a pesar de
            estos esfuerzos, ningún sistema de seguridad es perfecto o impenetrable. En caso de que su información
            personal se vea comprometida, Asociacion Mexicana de Lucha Contra el Cancer A.C. le notificará por medio de
            un correo electrónico. Usted podrá modificar su información personal en cualquier momento. Si usted desea
            que Asociacion Mexicana de Lucha Contra el Cancer A.C. borre su información por completo, envíe un email a
            contacto@amlcc.org notificando esta decisión. Asociacion Mexicana de Lucha Contra el Cancer A.C. se reserva
            el derecho de actualizar o cambiar esta política de privacidad.
            <br><br>
            Contenido del usuario: Usted otorga Asociacion Mexicana de Lucha Contra el Cancer A.C. y a sus funcionarios,
            directores, empleados, afiliadas, representantes, proveedores de servicios socios , sublicenciatarios y
            herederos una licencia, mundial que se puede otorgar en sublicencia, para copiar , distribuir publicar ,
            mostrar, usar, editar , modificar, traducir o de otro modo utilizar todo contenido, material , información
            (imágenes, video , texto , incluyendo la información médica aportada) que Usted haya publicado, cargado,
            transmitido través del uso de las aplicaciones de Asociacion Mexicana de Lucha Contra el Cancer A.C.
            (AMLCC.ORG) incluyendo su datos para poder enviárselos a un profesional de la salud y que este le guíe mejor
            en su tratamiento. Usted acuerda que esta licencia incluye el derecho de Asociacion Mexicana de Lucha Contra
            el Cancer A.C. de publicar contenido de usuario no identificable que usted ha aportado a la base de datos
            para que otros usuarios los puedan usar también en sus aplicaciones. Usted acuerda renunciar a toda demanda
            que surja en relación a los derechos otorgados en esta sección, incluyendo por el presente sin limitación
            toda demanda relacionada con sus derechos de privacidad y publicidad personal. Por el presente usted declara
            que está autorizado a otorgar los derechos relacionados con esta sección.
            <br><br>
            Cualquier cambio referente a la política de privacidad se le notificará, se indicará cuando entra en vigor
            dicho cambio. Su decisión de seguir utilizando las aplicaciones de Asociación Mexicana de Lucha Contra el
            Cáncer A.C. (AMLCC.ORG) indica su aceptación de dichos cambios en las políticas e privacidad.
            <br><br>
            Datos personales sensibles: Si usted ingresa datos personales sensibles en la app a petición de su
            profesional de la salud. Los datos personales sensibles recabados para la aplicación móvil son
            responsabilidad del profesional de la salud a cargo o persona afin que se los solicitó. El profesional de la
            salud deberá proporcionarle su respectivo aviso de privacidad y manejo de datos de información sensible.
            Asociacion Mexicana de Lucha Contra el Cancer A.C. conocido como AMLCC , con domicilio en Zacatecas No. 24
            4to. piso int. 404 Col. Roma Norte C.P. 06700, Alcaldía Cuauhtémoc, CDMX., en la entidad de Mexico, país
            México , y portal de internet www.amlcc.org , es el responsable del uso y protección de sus datos
            personales.
            <br><br>
            La fecha de actualización de este aviso de privacidad es 19 de octubre de 2023. Al leer esto aviso
            manifiesto acepto y entiendo el uso y tratamiento de mis datos personales e información sensible en los
            términos del presente aviso de privacidad
            <br><br>
            Debe tener precaución, buen criterio y prudencia cuando use los Servicios. Se prohíbe que infrinja, viole o
            intente violar la seguridad de los Servicios. Todas estas infracciones pueden derivarse en sanciones penales
            y/o civiles en su contra.
          </span>
        </div>
      </ion-col>
    </ion-row>


  </ion-grid>
  <!-- footer -->
  <ion-grid>
    <ion-row size="12" class="content-footer">
      <div class="my-1">
        <ion-grid class="transparent">
          <ion-row size="12" class="transparent">
            <ion-col size="12">
              <img class="logo-footer" src="./assets/logo.png" alt="logo Sumate al diagnostico oportuno">
            </ion-col>
          </ion-row>
          <ion-row size="12" class="my-4" class="transparent">
            <ion-col size="12">
              <div class="text-center">
                <img (click)="facebook()" class="icon-social" src="./assets/icon/icon-facebook.png" alt="facebook">
                <img (click)="instagram()" class="icon-social" src="./assets/icon/icon-instagram.png" alt="instagram">
                <img (click)="twitter()" class="icon-social" src="./assets/icon/icon-twitter.png" alt="twitter">
              </div>
            </ion-col>
          </ion-row>
          <ion-row size="12" class="my-4" class="transparent">
            <!-- <ion-col size="12" class="mb-2">
                <div class="text-start">
                  <span class="text-footer">Acerca de</span>
                </div>
              </ion-col>
              <ion-col size="12" class="mb-2">
                <div class="text-start">
                  <span class="text-footer">Preguntas frecuentes</span>
                </div>
              </ion-col>
              <ion-col size="12" class="mb-2">
                <div class="text-start">
                  <span class="text-footer">Ayuda</span>
                </div>
              </ion-col> -->
            <ion-col size="12" class="my-2">
              <div class="text-center">
                <span (click)="goTerminos()" class="text-footer">Aviso de privacidad y Terminos de Uso</span>
              </div>
            </ion-col>
          </ion-row>
          <ion-row size="12" class="my-2" class="transparent">
            <ion-col size="12" class="mb-1">
              <div class="text-start">
                <span class="email-footer">
                  <ion-icon color="primary" name="mail-outline"></ion-icon>
                  contacto@amlcc.org
                </span>
              </div>
            </ion-col>
            <ion-col size="12" class="mb-1">
              <div class="text-start">
                <span class="email-footer">
                  <ion-icon color="primary" name="call-outline"></ion-icon>
                  Oficina: (55) 5574 ‑ 0393 y (55) 5564 ‑ 0794
                </span>
              </div>
            </ion-col>
            <ion-col size="12" class="mb-1">
              <div class="text-start">
                <span class="email-footer">
                  <ion-icon color="primary" name="call-outline"></ion-icon>
                  Pacientes: (55) 5574 ‑ 0393
                </span>
              </div>
            </ion-col>
          </ion-row>
          <ion-row size="12" class="my-2" class="transparent">
            <ion-col size="2"></ion-col>
            <ion-col size="10">
              <div class="text-end">
                <span class="text-end-footer">
                  Asociación Mexicana de Lucha Contra
                  el Cáncer A.C. Todos los derechos
                  reservados 2022
                </span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>