<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-row size="8" slot="start" class="transparent">
        <ion-col size="6">
          <img class="p-1" src="./assets/logo.png" alt="logo" />
        </ion-col>
        <ion-col size="6" class="text-end">
          <img class="p-1" width="40%" src="./assets/amdlcc.png" alt="logo" />
        </ion-col>
      </ion-row>
      <ion-buttons slot="end">
        <ion-menu-button color="secondary"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!-- body -->
  <ion-grid>
    <!-- Paciente -->
    <ion-row size="12" class="my-5">
      <ion-col size="12">
        <h3 class="text-center model-text">Aviso de Privacidad Para Paciente</h3>
      </ion-col>
      <ion-col size="12">
        <div class="container my-3 mx-1">
          <span class="">
            De conformidad en los dispuesto en la Ley Federal de Protección de Datos Personales en Posesión de los
            Particulares
            (en adelante La Ley) y su Reglamento La ASOCIACIÓN MEXICANA DE LUCHA CONTRA EL CÁNCER, A.C. con
            domicilio en Zacatecas No. 24, 4to. piso No. 404, Col. Roma Norte, México, CDMX. C.P. 06700, expresa el
            compromiso de proteger la seguridad de la información personal de sus Beneficiarios haciendo de su
            conocimiento el
            presente Aviso de Privacidad:
          </span>
        </div>
        <div class="container my-3 mx-1">
          <span><b>1. Tratamiento de sus datos:</b></span>
          <br>
          <br>
          <span class="">
            La ASOCIACIÓN MEXICANA DE LUCHA CONTRA EL CÁNCER, A.C. se compromete a proteger los datos
            personales, ya sean sensibles y/o patrimoniales de cada uno de nuestros pacientes con base en los principios
            de licitud,
            calidad, consentimiento, información, finalidad, lealtad, proporcionalidad y responsabilidad, consagrados en
            la Ley.
            <br><br>
            Los datos y/o documentos a tratar son los siguientes:
            <br><br>
          </span>
          <ul>
            <li>Nombre completo del paciente.</li>
            <li>Dirección del paciente.</li>
            <li>Número de teléfono fijo y/o móvil.</li>
            <li>Correo electrónico.</li>
            <li>Nombre completo del tutor del paciente, en su caso</li>
            <li>Numero y correo electrónico del tutor del paciente en su caso.</li>
            <li>Comprobante de ingresos o carta en la que se manifieste ingresos.</li>
            <li>Número de expediente.</li>
            <li>Estudio Socioeconómico.</li>
            <li>Esquema de tratamiento.</li>
          </ul>
        </div>
        <div class="container my-3 mx-1">
          <span><b>2. Finalidad en el tratamiento de sus datos:</b></span>
          <br>
          <br>
          <span class="">
            Recabamos y tratamos sus datos personales para dar cumplimiento a las siguientes finalidades:
            <br><br>
          </span>
          <ol>
            <li>Para ser considerado como paciente de La ASOCIACIÓN MEXICANA DE LUCHA CONTRA EL CÁNCER,
              A.C.</li>
            <li>Con fines de identificación.</li>
          </ol>
          <ul>
            <li>Para fines de control.</li>
          </ul>
          <ol>
            <li>Para realizar una implementación adecuada de la regulación aplicable.</li>
            <li>Para mantener un historial.</li>
            <li>Fines probatorios de entrega de donativos.</li>
          </ol>
          <ul>
            <li>Para fines de contacto y comunicación.</li>
            <li>Para poder brindarles el apoyo necesario a los pacientes.</li>
          </ul>
        </div>
        <div class="container my-3 mx-1">
          <span><b>3. Transferencia de datos:</b></span>
          <br>
          <br>
          <span class="">
            La ASOCIACIÓN MEXICANA DE LUCHA CONTRA EL CÁNCER, A.C. solicita atentamente su consentimiento,
            para que en caso de que considere conveniente la transferencia y tratado de sus datos a un tercero que
            asumirá las
            mismas obligaciones que correspondan al responsable que transfirió los datos, todo esto con base en lo
            establecido en la
            Ley.
            <br><br>
            Terceros a quien se le puede transferir datos: a las organizaciones miembros de la Red, solo en caso de que
            se requiera
            de apoyo adicional, o en caso de que el donante solicite datos relacionados con el paciente.
            <br><br>
            Se solicita el consentimiento expreso del titular de los derechos para su transferencia.
            <br><br>
          </span>

          <ul>
            <li>Acepto que mis datos sean transferidos.</li>
            <li>No acepto que mis datos sean transferidos.</li>
          </ul>

        </div>
        <div class="container my-3 mx-1">
          <span><b>4. Medios para ejercitar sus derechos ARCO:</b></span>
          <br>
          <br>
          <span class="">
            El titular cuyos datos personales, datos personales sensibles y datos financieros o patrimoniales son
            transferidos y
            tratados tiene en todo momento la facultad de ejercer los derechos de acceso rectificación, cancelación u
            oposición
            previstas en la Ley. La solicitud para hacer valer un derecho ARCO debe atender a lo previsto en la Ley. Se
            debe hacer
            llegar por medio del envío de un correo electrónico a la dirección pacientes1@amlcc.org
            <br><br>
            El ejercicio de los Derechos ARCO se ejercerán por el titular de manera gratuita, debiendo cubrir el
            titular, en su caso,
            los gastos de envió, reproducción y/o certificación de documentos.
            <br><br>
            Todo tratamiento de datos personales estará sujeto al consentimiento de su titular, por lo que el
            consentimiento podrá
            ser revocado en cualquier momento sin que se le atribuyan efectos retroactivos. En estos casos se deberá de
            seguir el
            mismo procedimiento que para hacer valer un derecho ARCO.
            <br><br>
          </span>

        </div>

        <div class="container my-3 mx-1">
          <span><b>5. Medios de comunicación sobre los posibles cambios al presente aviso de privacidad: </b></span>
          <br>
          <br>
          <span class="">
            En caso de que el presente Aviso de Privacidad sufra cualquier modificado será debidamente informado al
            titular
            correspondiente mediante el envío de un correo electrónico a la cuenta que se nos proporcionada inicialmente
            y/o
            mediante la publicación del mismo en la siguiente página web: amlcc.org
            <br><br>
            En el caso de que por razones externas a nosotros no reciba la referida notificación de cambio en el Aviso
            de Privacidad
            no nos hacemos responsables. En cualquier caso, por su seguridad, el Aviso de Privacidad vigente estará
            disponible en
            todo momento en la página web antes señalada.
          </span>
        </div>
      </ion-col>
    </ion-row>

    <!-- Donante -->
    <ion-row size="12" class="my-5">
      <ion-col size="12">
        <h3 class="text-center model-text">Aviso de Privacidad para Donantes</h3>
      </ion-col>
      <ion-col size="12">
        <div class="container my-3 mx-1">
          <span class="">
            La ASOCIACIÓN MEXICANA DE LUCHA CONTRA EL CÁNCER, A.C. con domicilio en Zacatecas No. 24, 4to.
            piso No. 404, Col. Roma Norte, México, CDMX. C.P. 06700 con el propósito de brindarle seguridad en cuanto a
            la
            protección de sus datos personales y con conformidad en los dispuesto en la Ley Federal de Protección de
            Datos
            Personales en Posesión de los Particulares (en adelante La Ley) y su Reglamento hace de su conocimiento el
            siguiente
            aviso de privacidad.
          </span>
        </div>
        <div class="container my-3 mx-1">
          <span><b>1. Sobre el tratamiento de sus datos personales:</b></span>
          <br>
          <br>
          <span class="">
            Para los efectos mencionados en el presente Aviso de Privacidad recabamos sus datos personales y/o
            patrimoniales,
            estos serán tratados observando los principios de licitud, calidad, consentimiento, información, finalidad,
            lealtad,
            proporcionalidad y responsabilidad, consagrados en La Ley.
            <br><br>
            La ASOCIACIÓN MEXICANA DE LUCHA CONTRA EL CÁNCER, A.C. son:
            <br><br>
          </span>
          <ul>
            <li>Nombre completo o denominación social.</li>
            <li>Domicilio y domicilio fiscal.</li>
            <li>Datos fiscales.</li>
            <li>Fecha de nacimiento en caso de persona física.</li>
            <li>En caso de persona moral el nombre completo del contacto.</li>
            <li>Teléfono celular.</li>
            <li>Teléfono particular.</li>
            <li>Correo electrónico.</li>
            <li>Datos bancarios: banco, número de tarjeta, vencimiento, código de seguridad y cuenta CLABE.</li>
            <li>Experiencia profesional.</li>
            <li>Número telefónico móvil y fijo.</li>
            <li>Correo Electrónico.</li>
            <li>Cargo.</li>
          </ul>
        </div>
        <div class="container my-3 mx-1">
          <span><b>2. Finalidad en el tratamiento de sus datos:</b></span>
          <br>
          <br>
          <span class="">
            Le solicitamos su consentimiento para transmitir y tratar sus datos personales con las siguientes
            finalidades:
            <br><br>
          </span>
          <ol>
            <li>Fines de comunicación y contacto.</li>
            <li>Con el fin de Cumplir con lo establecido en el contrato de donación</li>
            <li>Fines de facturación y comprobantes.</li>
            <li>Con el fin de archivar la información correspondiente.</li>
          </ol>
        </div>
        <div class="container my-3 mx-1">
          <span><b>3. Medios para limitar el uso o divulgación de sus datos:</b></span>
          <br>
          <br>
          <span class="">
            Para su tranquilidad los datos personales recabados por La ASOCIACIÓN MEXICANA DE LUCHA
            CONTRA EL CÁNCER, A.C. son resguardados bajo medidas de seguridad tanto administrativas, técnicas
            y físicas que permitan proteger los datos personales contra daño, perdida, alteración, destrucción o el uso,
            acceso o tratamiento no autorizado.
          </span>
        </div>
        <div class="container my-3 mx-1">
          <span><b>4. Transferencia de sus datos personales:</b></span>
          <br>
          <br>
          <span class="">
            La ASOCIACIÓN MEXICANA DE LUCHA CONTRA EL CÁNCER, A.C. le solicita al titular de los
            derechos su consentimiento para caso de que considere conveniente la transferencia y tratado de sus datos a
            un
            tercero que asumirá las mismas obligaciones que correspondan al responsable que transfirió los datos, todo
            esto con base en lo establecido en la Ley.
            <br><br>
            Terceros a quien se les transfiere datos:
            <br><br>
          </span>
          <ol>
            <li>Al banco correspondiente para el cobro de los donativos correspondientes.</li>
          </ol>
          <span class="">
            Se solicita el consentimiento expreso del titular de los derechos para su transferencia.
            <br><br>
            * Acepto que mis datos sean transferidos. <br><br>
            * No acepto que mis datos sean transferidos.<br><br>
          </span>
        </div>

        <div class="container my-3 mx-1">
          <span><b>5. Medios para el ejercicio de sus derechos como titular de los datos personales:</b></span>
          <br>
          <br>
          <span class="">
            Como titular de los datos personales objeto del presente Aviso de Privacidad usted podrá ejercitar sus
            derechos
            de acceso, rectificación, cancelación u oposición (Derechos ARCO), mismos que se consagran en la Ley
            mediante el envío de un correo electrónico a la dirección procuracion@amlcc.org
            <br><br>
            Con la finalidad de poder atender su solicitud, ésta deberá satisfacer todos los requisitos estipulados en
            la Ley.
          </span>
        </div>
        <div class="container my-3 mx-1">
          <span><b>6. Cambios al presente aviso de privacidad:</b></span>
          <br>
          <br>
          <span class="">
            El presente Aviso de Privacidad podrá ser modificado en el futuro. En todo caso, cualquier modificación al
            mismo se
            hará de su conocimiento mediante el envío de un correo electrónico a la cuenta que usted nos proporcionó
            inicialmente
            para hacer de su conocimiento el presente Aviso de Privacidad y/o mediante la publicación del mismo en la
            siguiente
            página web: www.amlcc.org
            <br><br>
            Por su seguridad, el Aviso de Privacidad vigente estará disponible en todo momento en la página web antes
            señalada.
            No nos hacemos responsable por malos funcionamientos que eviten que reciba la notificación correspondiente
            en su
            correo electrónico.
          </span>
        </div>
      </ion-col>
    </ion-row>

    <!-- medicos -->
    <ion-row size="12" class="my-5">
      <ion-col size="12">
        <h3 class="text-center model-text">Aviso de Privacidad para Médicos</h3>
      </ion-col>
      <ion-col size="12">
        <div class="container my-3 mx-1">
          <span class="">
            La ASOCIACIÓN MEXICANA DE LUCHA CONTRA EL CÁNCER, A.C. con domicilio en Zacatecas No. 24, 4to.
            piso No. 404, Col. Roma Norte, México, CDMX. C.P. 06700, tiene el firme propósito de brindarle seguridad en
            cuanto
            a la protección de sus datos personales, por lo que con conformidad en los dispuesto en la Ley Federal de
            Protección de
            Datos Personales en Posesión de los Particulares (en adelante La Ley) y su Reglamento hacemos de su
            conocimiento el
            siguiente aviso de privacidad.
          </span>
        </div>
        <div class="container my-3 mx-1">
          <span><b>1. Sobre el tratamiento de sus datos personales:</b></span>
          <br>
          <br>
          <span class="">
            Recabamos sus datos personales para los efectos mencionados en el presente Aviso de Privacidad, estos serán
            tratados
            observando los principios de licitud, calidad, consentimiento, información, finalidad, lealtad,
            proporcionalidad y
            responsabilidad, consagrados en la Ley.
            <br><br>
            Los datos personales son:
            <br><br>
          </span>
          <ul>
            <li>Nombre completo.</li>
            <li>Historial Académico.</li>
            <li>Cédula Profesional.</li>
            <li>Experiencia profesional.</li>
            <li>Número telefónico móvil y fijo.</li>
            <li>Correo Electrónico.</li>
            <li>Cargo.</li>
          </ul>
        </div>
        <div class="container my-3 mx-1">
          <span><b>2. Finalidad en el tratamiento de sus datos personales:</b></span>
          <br>
          <br>
          <span class="">
            Le solicitamos su consentimiento para tratar sus datos personales con las siguientes finalidades:
            <br><br>
          </span>
          <ol>
            <li>Fines de contacto.</li>
            <li>Fines informativos.</li>
            <li>Fines de almacenamiento de datos.</li>
            <li>Para invitarlos a dar conferencias.</li>
            <li>Para enviarles información general sobre AMLCC.</li>
          </ol>
        </div>
        <div class="container my-3 mx-1">
          <span><b>3. Medios para limitar el uso o divulgación de sus datos personales:</b></span>
          <br>
          <br>
          <span class="">
            Para su tranquilidad y seguridad los datos personales recabados por La ASOCIACIÓN MEXICANA DE LUCHA
            CONTRA EL CÁNCER, A.C. son resguardados de forma segura y privada permitiéndonos proteger los datos
            personales contra daño, perdida, alteración, destrucción o el uso, acceso o tratamiento no autorizado.
            <br><br>
          </span>
        </div>
        <div class="container my-3 mx-1">
          <span><b>4. Medios para el ejercicio de sus derechos como titular de los datos personales:</b></span>
          <br>
          <br>
          <span class="">
            Como titular de los datos personales objeto del presente Aviso de Privacidad usted podrá ejercitar sus
            derechos de acceso, rectificación, cancelación u oposición (Derechos ARCO), mismos que se consagran
            en la Ley mediante el envío de un correo electrónico a la dirección pacientes1@amlcc.org
            <br><br>
            Con la finalidad de poder atender su solicitud, ésta deberá satisfacer todos los requisitos estipulados en
            la Ley.
            <br><br>
            Todo tratamiento de datos personales estará sujeto al consentimiento de su titular, por lo que el
            consentimiento podrá ser revocado en cualquier momento sin que se le atribuyan efectos retroactivos.
            En estos casos se deberá de seguir el mismo procedimiento que para hacer valer un derecho ARCO.
            <br><br>
          </span>
        </div>
        <div class="container my-3 mx-1">
          <span><b>5. Transferencia de sus datos personales: </b></span>
          <br>
          <br>
          <span class="">
            Los datos personales pertenecientes al titular no serán transferidos a terceros, salvo lo dispuesto en el
            artículo 37
            fracción II de La Ley, en la que se permite la transferencia de datos sin necesidad del consentimiento del
            titular en caso
            de que sea necesaria para la prevención o el diagnostico médico, la prestación de asistencia sanitaria,
            tratamiento
            médico o la gestión de servicios sanitarios.
          </span>
        </div>
        <div class="container my-3 mx-1">
          <span><b>6. Cambios al presente aviso de privacidad: </b></span>
          <br>
          <br>
          <span class="">
            El presente Aviso de Privacidad podrá ser modificado en el futuro. En todo caso, cualquier modificación al
            mismo se
            hará de su conocimiento mediante el envío de un correo electrónico a la cuenta que usted nos proporcionó
            inicialmente
            para hacer de su conocimiento el presente Aviso de Privacidad y/o mediante la publicación del mismo en la
            siguiente
            página web: www.amlcc.org
          </span>
        </div>
      </ion-col>
    </ion-row>


    <!-- Proveedores -->
    <ion-row size="12" class="my-5">
      <ion-col size="12">
        <h3 class="text-center model-text">Aviso de Privacidad para Proveedores</h3>
      </ion-col>
      <ion-col size="12">
        <div class="container my-3 mx-1">
          <span class="">
            La ASOCIACIÓN MEXICANA DE LUCHA CONTRA EL CÁNCER, A.C. con domicilio en Zacatecas No. 24, 4to.
            piso No. 404, Col. Roma Norte, México, CDMX. C.P. 06700, conforme a lo dispuesto en la Ley Federal de
            Protección
            de Datos Personales en Posesión de los Particulares (en adelante la ley) y en su Reglamento buscan brindarle
            una mayor
            protección de sus datos y hace de su conocimiento el siguiente aviso de privacidad.
          </span>
        </div>
        <div class="container my-3 mx-1">
          <span><b>1. Sobre el tratamiento de sus datos personales:</b></span>
          <br>
          <br>
          <span class="">
            Para los efectos mencionados en el presente Aviso de Privacidad recabamos sus datos personales, estos serán
            tratados
            observando los principios de licitud, calidad, consentimiento, información, finalidad, lealtad,
            proporcionalidad y
            responsabilidad, consagrados en la Ley.
            <br><br>
            Los datos personales a tratar son:
            <br><br>
          </span>
          <ul>
            <li>Nombre completo o Razón social.</li>
            <li>Dirección fiscal completa.</li>
            <li>R.F.C.</li>
            <li>Correo electrónico.</li>
            <li>Teléfono</li>
            <li>Datos Bancarios.</li>
          </ul>
        </div>
        <div class="container my-3 mx-1">
          <span><b>2. Finalidad en el tratamiento de sus datos personales:</b></span>
          <br>
          <br>
          <span class="">
            La ASOCIACIÓN MEXICANA DE LUCHA CONTRA EL CÁNCER, A.C. solicita de su consentimiento para tratar
            sus datos personales.
            <br><br>
            Sus datos son tratados para las siguientes finalidades:
            <br><br>
          </span>
          <ol>
            <li>Con fines de comunicación o contacto.</li>
            <li>Fines de pagos respecto a los servicios o prestaciones recibidas.</li>
            <li>Integración y actualización de expedientes.</li>
            <li>Comprobar egresos de la asociación.</li>
          </ol>
        </div>
        <div class="container my-3 mx-1">
          <span><b>3. Limitar el uso o divulgación de sus datos personales:</b></span>
          <br>
          <br>
          <span class="">
            Para su tranquilidad los datos personales recabados por La ASOCIACIÓN MEXICANA DE LUCHA CONTRA EL
            CÁNCER, A.C. son resguardados bajo medidas de seguridad que permitan proteger los datos personales contra
            daño,
            perdida, alteración, destrucción o el uso, acceso o tratamiento no autorizado.
            <br><br>
          </span>
        </div>
        <div class="container my-3 mx-1">
          <span><b>4. Transferencia de sus datos personales:</b></span>
          <br>
          <br>
          <span class="">
            Los datos personales pertenecientes al proveedor titular no se pueden transferir a terceros en virtud de
            ninguna relación que mantenga con La ASOCIACIÓN MEXICANA DE LUCHA CONTRA EL CÁNCER,
            A.C. Lo anterior sin perjuicio de las excepciones la Ley.
            <br><br>
          </span>

        </div>

        <div class="container my-3 mx-1">
          <span><b>5. Medios para el ejercicio de sus derechos arco: </b></span>
          <br>
          <br>
          <span class="">
            Como titular de los datos personales objeto del presente Aviso de Privacidad usted podrá ejercitar sus
            derechos de
            acceso, rectificación, cancelación u oposición (Derechos ARCO), mismos que se consagran en la Ley mediante
            el envío
            de un correo electrónico a la dirección desarrolloinstitucional@amlcc.org
            <br><br>
            Con la finalidad de poder atender su solicitud, ésta deberá satisfacer todos los requisitos estipulados en
            la Ley Federal
            de Protección de Datos Personales en Posesión de los Particulares.
            <br><br>
            Todo tratamiento de datos personales estará sujeto al consentimiento de su titular, por lo que el
            consentimiento podrá
            ser revocado en cualquier momento sin que se le atribuyan efectos retroactivos. En estos casos se deberá de
            seguir el
            mismo procedimiento que para hacer valer un derecho ARCO.
            <br><br>

          </span>
        </div>
        <div class="container my-3 mx-1">
          <span><b>6. Cambios al presente aviso de privacidad:</b></span>
          <br>
          <br>
          <span class="">
            El presente Aviso de Privacidad podrá ser modificado en el futuro. En todo caso, cualquier modificación al
            mismo se
            hará de su conocimiento mediante el envío de un correo electrónico a la cuenta que usted nos proporcionó
            inicialmente
            para hacer de su conocimiento el presente Aviso de Privacidad y/o mediante la publicación del mismo en la
            siguiente
            página web: www.amlcc.org
            <br><br>
            Por su seguridad, el Aviso de Privacidad vigente estará disponible en todo momento en la página web antes
            señalada.
            No nos hacemos responsable por malos funcionamientos que eviten que reciba la notificación correspondiente
            en su
            correo electrónico.

            <br><br>

          </span>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
  <!-- footer -->
  <ion-grid>
    <ion-row size="12" class="content-footer">
      <div class="my-1">
        <ion-grid class="transparent">
          <ion-row size="12" class="transparent">
            <ion-col size="12">
              <img class="logo-footer" src="./assets/logo.png" alt="logo Sumate al diagnostico oportuno">
            </ion-col>
          </ion-row>
          <ion-row size="12" class="my-4" class="transparent">
            <ion-col size="12">
              <div class="text-center">
                <img (click)="facebook()" class="icon-social" src="./assets/icon/icon-facebook.png" alt="facebook">
                <img (click)="instagram()" class="icon-social" src="./assets/icon/icon-instagram.png" alt="instagram">
                <img (click)="twitter()" class="icon-social" src="./assets/icon/icon-twitter.png" alt="twitter">
              </div>
            </ion-col>
          </ion-row>
          <ion-row size="12" class="my-4" class="transparent">
            <!-- <ion-col size="12" class="mb-2">
                <div class="text-start">
                  <span class="text-footer">Acerca de</span>
                </div>
              </ion-col>
              <ion-col size="12" class="mb-2">
                <div class="text-start">
                  <span class="text-footer">Preguntas frecuentes</span>
                </div>
              </ion-col>
              <ion-col size="12" class="mb-2">
                <div class="text-start">
                  <span class="text-footer">Ayuda</span>
                </div>
              </ion-col> -->
            <ion-col size="12" class="my-2">
              <div class="text-center">
                <span (click)="goTerminos()" class="text-footer">Aviso de privacidad</span>
              </div>
            </ion-col>
          </ion-row>
          <ion-row size="12" class="my-2" class="transparent">
            <ion-col size="12" class="mb-1">
              <div class="text-start">
                <span class="email-footer">
                  <ion-icon color="primary" name="mail-outline"></ion-icon>
                  contacto@amlcc.org
                </span>
              </div>
            </ion-col>
            <ion-col size="12" class="mb-1">
              <div class="text-start">
                <span class="email-footer">
                  <ion-icon color="primary" name="call-outline"></ion-icon>
                  Oficina: (55) 5574 ‑ 0393 y (55) 5564 ‑ 0794
                </span>
              </div>
            </ion-col>
            <ion-col size="12" class="mb-1">
              <div class="text-start">
                <span class="email-footer">
                  <ion-icon color="primary" name="call-outline"></ion-icon>
                  Pacientes: (55) 5574 ‑ 0393
                </span>
              </div>
            </ion-col>
          </ion-row>
          <ion-row size="12" class="my-2" class="transparent">
            <ion-col size="2"></ion-col>
            <ion-col size="10">
              <div class="text-end">
                <span class="text-end-footer">
                  Asociación Mexicana de Lucha Contra
                  el Cáncer A.C. Todos los derechos
                  reservados 2022
                </span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>