<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button color="secondary"></ion-menu-button>
      </ion-buttons>
      <ion-title class="text-start">
        <div class="m-1">
          <img width="40%" src="./assets/logo.png" alt="logo" />
        </div>
      </ion-title>
      <!-- <ion-title>{{ home }}</ion-title> -->
    </ion-toolbar>
  </ion-header>
  <!-- body -->
  <ion-grid>
    <!-- main -->
    <ion-row size="12" class="main-center main">
      <div class="my-4">
        <ion-col size="12">
          <ion-row size="12">
            <ion-col size="10">
              <div class="container my-5">
                <h1 class="title-main">Mejorando el diagnóstico oportuno en
                  <b class="text-white">México</b>
                </h1>
              </div>
            </ion-col>
            <ion-col size="2"></ion-col>
          </ion-row>
          <!-- buttons -->
          <ion-row size="12">
            <ion-col size="12">
              <div class="mx-2 mt-5 mb-1 text-start">
                <button type="button" class="btn btn-tertiary btn-lg btn-gradient-orange">
                  <span class="btn-text">
                    Iniciar diagnóstico
                  </span>
                </button>
              </div>
            </ion-col>
            <ion-col size="12">
              <div class="mx-2 mb-3 text-end">
                <button type="button" class="btn btn-primary btn-lg btn-gradient-blue">
                  <span class="btn-text">
                    Estudios clínicos
                  </span>
                </button>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </div>
    </ion-row>
    <!-- content -->
    <ion-row size="12">
      <ion-col size="12">
        <div class="container my-5 ">
          <h4 class="model-text">
            Nuestro modelo de Intervención se basa en cuatro pilares
          </h4>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="text-center mb-4">
          <img width="50%" src="./assets/4pilares.png" alt="cuatro pilares">
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="container my-5 ">
          <!-- <h5 class="subtitle-second">Lorem ipsum dolor sit amet</h5> -->
          <div class="mt-4">
            <span class="second-text ">
              Nuestros programas buscan educar y sensibilizar sobre la importancia del diagnostico temprano la atención
              oportuna. Buscamos incidir en lograr un sistema de salud equitativo y más justo, que garantice el acceso
              al derecho al diagnostico y la atención integral del cáncer.
              <br> <br>
              Como organización de la sociedad civil trabajamos de la mano de profesionales de la salud, instituciones
              nacionales e internacionales, proveedores de insumos para la salud, empresas, voluntarios, supervivientes,
              pacientes y familiares orientados en disminuir la morbimortalidad por cáncer en nuestro país.
            </span>
          </div>
        </div>
      </ion-col>
      <!-- image -->
      <ion-col size="12">
        <div class="my-5">
          <ion-grid>
            <div class="container">
              <ion-row size="12">
                <ion-col size="6">
                  <div class="mx-1">
                    <ion-grid>
                      <ion-row size="12">
                        <ion-col size="12">
                          <img class="img-circle" src="./assets/random/cancer.jpg" alt="detención de cancer">
                        </ion-col>
                        <ion-col size="12">
                          <div class="text-end my-2">
                            <!-- <span class="title-cancer">Lorem Ipsum</span> -->
                          </div>
                        </ion-col>
                        <ion-col size="12">
                          <div class="text-end">
                            <span class="content-cancer">Impulsamos la detección temprana del cáncer.</span>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div class="mx-1">
                    <ion-grid>
                      <ion-row size="12">
                        <ion-col size="12">
                          <img class="img-circle" src="./assets/random/cancer2.jpg" alt="detención de cancer">
                        </ion-col>
                        <ion-col size="12">
                          <div class="text-start my-2">
                            <!-- <span class="title-cancer">Lorem Ipsum</span> -->
                          </div>
                        </ion-col>
                        <ion-col size="12">
                          <div class="text-start">
                            <span class="content-cancer">Impulsamos la detección temprana del cáncer.</span>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                </ion-col>
                <ion-col size="12">
                  <div class="text-center my-5">
                    <img width="50%" src="./assets/liston.png" alt="detención de cancer">
                  </div>
                </ion-col>
                <!-- quiero unirme -->
                <ion-col size="12">
                  <div class="text-center mb-4">
                    <h5 class="model-text">
                      Súmate para lograr el diagnostico temprano
                    </h5>
                  </div>
                </ion-col>
                <ion-col size="12">
                  <div class="text-center mb-4">
                    <span class="second-text">
                      La detección temprana de los Cánceres Hematológicos puede hacer la diferencia en el pronostico de
                      un paciente.
                      <br>
                      Como profesional de la salud, puedes lograr que cada vez más pacientes tengan un diagnóstico y
                      acceso a la atención.
                    </span>
                  </div>
                </ion-col>
                <ion-col size="12">
                  <div class="mx-2 mt-5 mb-1 text-center">
                    <button type="button" class="btn btn-tertiary btn-lg btn-gradient-orange">
                      <span class="btn-text">
                        Quiero unirme
                      </span>
                    </button>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- footer -->
  <ion-grid>
    <ion-row size="12" class="content-footer">
      <div class="my-4">
        <ion-grid>
          <ion-row size="12">
            <ion-col size="12">
              <img class="logo-footer" src="./assets/logo.png" alt="logo Sumate al diagnostico oportuno">
            </ion-col>
          </ion-row>
          <ion-row size="12" class="my-4">
            <ion-col size="12">
              <div class="text-center">
                <img class="icon-social" src="./assets/icon/icon-facebook.png" alt="facebook">
                <img class="icon-social" src="./assets/icon/icon-instagram.png" alt="instagram">
                <img class="icon-social" src="./assets/icon/icon-twitter.png" alt="twitter">
              </div>
            </ion-col>
          </ion-row>
          <ion-row size="12" class="my-4">
            <ion-col size="12" class="mb-2">
              <div class="text-start">
                <span class="text-footer">Acerca de</span>
              </div>
            </ion-col>
            <ion-col size="12" class="mb-2">
              <div class="text-start">
                <span class="text-footer">Preguntas frecuentes</span>
              </div>
            </ion-col>
            <ion-col size="12" class="mb-2">
              <div class="text-start">
                <span class="text-footer">Ayuda</span>
              </div>
            </ion-col>
            <ion-col size="12" class="mb-2">
              <div class="text-start">
                <span class="text-footer">Aviso de privacidad</span>
              </div>
            </ion-col>
          </ion-row>
          <ion-row size="12" class="my-2">
            <ion-col size="12" class="mb-1">
              <div class="text-start">
                <span class="email-footer">
                  <ion-icon color="primary" name="mail-outline"></ion-icon>
                  contacto@nomadome.com
                </span>
              </div>
            </ion-col>
            <ion-col size="12" class="mb-1">
              <div class="text-start">
                <span class="email-footer">
                  <ion-icon color="primary" name="call-outline"></ion-icon>
                  55 0016 7811 11
                </span>
              </div>
            </ion-col>
          </ion-row>
          <ion-row size="12" class="my-2">
            <ion-col size="2"></ion-col>
            <ion-col size="10">
              <div class="text-end">
                <span class="text-end-footer">
                  Asociación Mexicana de lucha contra el cáncer A.C.
                  Todos los derechos reservados. 2022
                </span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
