<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button color="secondary"></ion-menu-button>
      </ion-buttons>
      <ion-title class="text-start">
        <div class="m-1">
          <img width="40%" src="./assets/logo.png" alt="logo" />
        </div>
      </ion-title>
      <!-- <ion-title>{{ home }}</ion-title> -->
    </ion-toolbar>
  </ion-header>
  <!-- body -->
  <ion-grid>
    <!-- main -->
    <ion-row size="12" class="main-center main">
      <div class="my-4">
        <ion-col size="12">
          <ion-row size="12">
            <ion-col size="10">
              <div class="container my-5">
                <h1 class="title-main">Mejorando el diagnóstico oportuno en
                  <b class="text-white">México</b>
                </h1>
              </div>
            </ion-col>
            <ion-col size="2"></ion-col>
          </ion-row>
          <!-- buttons -->
          <ion-row size="12">
            <ion-col size="12">
              <div class="mx-2 mt-5 mb-1 text-start">
                <button type="button" class="btn btn-tertiary btn-lg btn-gradient-orange">
                  <span class="btn-text">
                    Iniciar diagnóstico
                  </span>
                </button>
              </div>
            </ion-col>
            <ion-col size="12">
              <div class="mx-2 mb-3 text-end">
                <button type="button" class="btn btn-primary btn-lg btn-gradient-blue">
                  <span class="btn-text">
                    Estudios clínicos
                  </span>
                </button>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </div>
    </ion-row>
    <!-- content -->
    <ion-row size="12">
      <ion-col size="12">
        <div class="container my-5 ">
          <h4 class="model-text">
            Nuestro modelo de atención de la AMLCC considera las necesidades reales de la población
          </h4>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="container my-5 ">
          <h5 class="subtitle-second">Lorem ipsum dolor sit amet</h5>
          <div class="mt-4">
            <span class="second-text ">
              Impulsamos la detección temprana del cáncer a través de campañas de concientización en comunidades
              vulnerables y
              marginadas.
            </span>
          </div>
        </div>
      </ion-col>
      <!-- image -->
      <ion-col size="12">
        <div class="my-5">
          <ion-grid>
            <div class="container">
              <ion-row size="12">
                <ion-col size="6">
                  <div class="mx-1">
                    <ion-grid>
                      <ion-row size="12">
                        <ion-col size="12">
                          <img class="img-circle" src="./assets/random/cancer.jpg" alt="detención de cancer">
                        </ion-col>
                        <ion-col size="12">
                          <div class="text-end my-2">
                            <span class="title-cancer">Lorem Ipsum</span>
                          </div>
                        </ion-col>
                        <ion-col size="12">
                          <div class="text-end">
                            <span class="content-cancer">Impulsamos la detección temprana del cáncer.</span>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div class="mx-1">
                    <ion-grid>
                      <ion-row size="12">
                        <ion-col size="12">
                          <img class="img-circle" src="./assets/random/cancer2.jpg" alt="detención de cancer">
                        </ion-col>
                        <ion-col size="12">
                          <div class="text-start my-2">
                            <span class="title-cancer">Lorem Ipsum</span>
                          </div>
                        </ion-col>
                        <ion-col size="12">
                          <div class="text-start">
                            <span class="content-cancer">Impulsamos la detección temprana del cáncer.</span>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                </ion-col>
                <ion-col size="12">
                  <div class="text-center my-5">
                    <img src="./assets/random/liston.svg" alt="detención de cancer">
                  </div>
                </ion-col>
                <!-- quiero unirme -->
                <ion-col size="12">
                  <div class="text-center mb-4">
                    <h5 class="model-text">
                      Únete a la mejora del diagnóstico
                    </h5>
                  </div>
                </ion-col>
                <ion-col size="12">
                  <div class="text-center mb-4">
                    <span class="second-text">
                      Impulsamos la detección temprana del cáncer a través de campañas de concientización en comunidades
                      vulnerables y
                      marginadas.
                    </span>
                  </div>
                </ion-col>
                <ion-col size="12">
                  <div class="mx-2 mt-5 mb-1 text-center">
                    <button type="button" class="btn btn-tertiary btn-lg btn-gradient-orange">
                      <span class="btn-text">
                        Quiero unirme
                      </span>
                    </button>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- footer -->
  <ion-grid>
    <ion-row size="12" class="main-center">
      <div class="my-4">
        <ion-grid>
          <ion-row size="12">
            <ion-col size="12">
              <img width="80%" src="./assets/logo.png" alt="logo Sumate al diagnostico oportuno">
            </ion-col>
          </ion-row>
          <ion-row size="12" class="my-4">
            <ion-col size="12">
              <div class="text-center">
                <img src="./assets/icon/icon-facebook.png" alt="facebook">
                <img src="./assets/icon/icon-instagram.png" alt="instagram">
                <img src="./assets/icon/icon-twitter.png" alt="twitter">
              </div>
            </ion-col>
          </ion-row>
          <ion-row size="12" class="my-4">
            <ion-col size="12">
              <div class="text-start">
                <span class="text-footer">Acerca de</span>
              </div>
            </ion-col>
            <ion-col size="12">
              <div class="text-start">
                <span class="text-footer">Preguntas frecuentes</span>
              </div>
            </ion-col>
            <ion-col size="12">
              <div class="text-start">
                <span class="text-footer">Ayuda</span>
              </div>
            </ion-col>
            <ion-col size="12">
              <div class="text-start">
                <span class="text-footer">Aviso de privacidad</span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
